<!DOCTYPE html>
<html class="no-js" lang="sv">
<head>
  <meta charset="utf-8">

  <script type="text/javascript" src="//use.typekit.net/gif8hrj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  {% javascript modernizr %}
  {% stylesheet app %}

  <meta name="title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">

  {% if page.meta_title %}
  <meta name="title" content="{{ page.meta_title }}">
  <meta property="og:title" content="{{ page.meta_title }}">
  {% else if page.title %}
  <meta name="title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  {% else %}
  <meta name="title" content="{{ site.data.meta.title }}">
  <meta property="og:title" content="{{ site.data.meta.title }}">
  {% endif %}

  {% if page.meta_description %}
  <meta name="decription" content="{{ page.meta_description }}">
  <meta property="og:description" content="{{ page.meta_description }}">
  {% else %}
  <meta name="decription" content="{{ site.data.meta.description }}">
  <meta property="og:description" content="{{ site.data.meta.description }}">
  {% endif %}


  {% if page.meta_image %}
  <meta property="og:image" content="{% asset_path {{ page.meta_image }} %}">
  {% else %}
  <meta property="og:image" content="http://www.kollegorna.se/images/kollegorna-facebook-avatar.png">
  {% endif %}

  <meta property="og:url" content="{{ site.url }}{{ page.url | remove:'index.html' }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
<body class="{{ page.body_class }}">

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  <script src="/js/vendor/jquery-1.9.1.min.js"></script>
  <script src="/js/vendor/jquery.lazyload.min.js"></script>
  <script src="/js/vendor/jquery.lettering-0.6.1.min.js"></script>
  <script src="/js/vendor/jquery.fitvids.js"></script>
  <script src="/js/vendor/list.js"></script>
  <script src="/js/vendor/helper.js"></script>
  <script src="/js/app/sections/home.js"></script>
  <script src="/js/app/sections/projects.js"></script>
  <script src="/js/app/navigation.js"></script>
  <script src="/js/app/main.js"></script>

  {% include tracking.html %}
</body>
</html>
