---
layout: default
body_class: page-blog-post
---
<main role="main" class="blog-post">
  <article class="post" vocab="http://schema.org/" typeof="BlogPosting">
    <header>
      {% if page.top_image %}
      <figure class="top-image"><img src="{{ page.top_image }}" alt="{{ page.top_image_alt }}"></figure>
      {% endif %}

      <h1>{{ page.title }}</h1>

      <span class="author">Av <a href="mailto:{{ page.author_email }}"><!--<img src="{{ page.author_email | to_gravatar }}?s=40" alt="{{ page.author }}"> -->{{ page.author }}</a></span>
      <time property="dateCreated" pubdate>{{ page.date | date_to_string }}</time>

    </header>

    {{ content }}

    {% if page.comments %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'kollegorna';

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    {% endif %}
  </article>
</section>
