---
layout: default
body_class: page-blog-post page-blog-post--post
---

<header class="blog-header blog-header--small" role="banner">
  <div class="blog-header__content">
    <figure class="blog-header__logo">
      <span class="gradient-border gradient-border--thin"><a href="/blogg"><img src="{% asset_path blog/blog-heading.svg %}" alt="Blogg" data-fallback="{% asset_path blog/blog-heading.png %}"></a></span>
    </figure>
    <a class="blog-header__rss" href="/feed.xml"><span>Prenumerera via RSS</span></a>
  </div>
</header>


<main role="main" class="blog-post">
  <article class="post post--{{ page.type }}" vocab="http://schema.org/" typeof="BlogPosting">
    {% case page.type %}
      {% when 'link' %}
        <div property="articleBody" class="post-content">
          {% if page.image %}
            <figure class="post-image">
              <a href="{{ page.link_url }}"><img src="{{ page.image }}" alt="{{ page.title }}"></a>

              {% if page.caption %}
                <figcaption>
                  {{ page.caption }}
                </figcaption>
              {% endif %}
            </figure>
          {% endif %}
          <h1 property="name"><a href="{{ page.link_url }}">{{ page.link_title }}</a></h1>
          {{ content }}
        </div>
      {% when 'quote' %}
        <div property="articleBody" class="post-content">
          <blockquote class="post-quote">
            {{ page.quote }}
          </blockquote>

          {% if page.cite %}
            <cite class="post-cite">
              {{ page.cite }}
            </cite>
          {% endif %}

          {{ content }}
        </div>
      {% when 'image' %}
        <div property="articleBody" class="post-content">
          <figure class="post-image">
            <img src="{{ page.image }}" alt="{{ page.title }}">

            {% if page.caption %}
              <figcaption>
                {{ page.caption }}
              </figcaption>
            {% endif %}
          </figure>
          {{ content }}
        </div>
      {% when 'video' %}
        <div property="articleBody" class="post-content">
          <figure class="post-video">
            {{ page.video_embed_code }}

            {% if page.caption %}
              <figcaption>
                {{ page.caption }}
              </figcaption>
            {% endif %}
          </figure>
          {{ content }}
        </div>
      {% else %}
        <header class="post-header">
          {% if page.image %}
            <figure class="post-image">
              <img property="image" src="{{ page.image }}" alt="{{ page.image_alt }}">
            </figure>
          {% endif %}

          <h1 property="name"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        </header>

        <div property="articleBody" class="post-content">
          {{ content }}
        </div>
    {% endcase %}

    <footer class="post-footer">
      {% assign author = site.data.colleagues[page.author] %}
      {% if author %}
        <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
          <div class="post-author__image">
            <img property="image" src="{{ author.email | to_gravatar }}" alt="Bild på {{ author.firstname }} {{ author.lastname }}" />
          </div>
          <div class="post-author__name">
            <a property="email" href="mailto:{{ author.email }}">
              <span property="givenName">{{ author.firstname }}</span>
              <span property="familyName">{{ author.lastname }}</span>
            </a>
          </div>
        </div>
      {% endif %}

        <div class="post-meta">
          <time class="post-date" property="dateCreated" pubdate><a property="url" href="{{ page.url }}">{{ page.date | date_to_string }}</a></time>
          <!--<span class="post-tags">taggat <a href="#">kunder</a>, <a href="#">priser</a></span>-->
        </div>

      {% if page.source_url %}
        <div class="post-via">
          via
          <a property="isBasedOnUrl" href="{{ page.source_url }}">
            {% if page.source_title %}
              {{ page.source_title }}
            {% else %}
              {{ page.source_url }}
            {% endif %}
          </a>
        </div>
      {% endif %}
    </footer>
    <!-- / .post-footer -->

    {% if page.comments %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'kollegorna';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    {% endif %}
  </article>
</section>
