@import 'compass';

/** PLUGINS ---------- */

/** BREAKPOINT */
@import 'breakpoint'; // https://github.com/canarymason/breakpoint;

/** VARIABLES ---------- */

/** BREAKPOINTS */

$breakpoint-smallest: 'min-width: 480px';
$breakpoint-small: 'min-width: 600px';
$breakpoint-medium: 'min-width: 780px';
$breakpoint-large: 'min-width: 992px';

/** COLORS */

$color-background: #F0E9CD;
$color-link: #f77916;
$color-link-active: #403e35;
$color-text: #5F5C4E;
$color-heading: #403e35;

/** FONTS */

$font: "ff-dagny-web-pro", sans-serif;
$font-logo: "omnes-pro-i9", "omnes-pro", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
