/**
 * VARIABLES
 */

$bg_color: #F0E9CD;
$link_color: #f77916;
$text_color: #5F5C4E;
$heading_color: #403e35;

$base_font: "ff-dagny-web-pro",sans-serif;
$logo_font: "omnes-pro",sans-serif;

/* Font weights */
$fw_normal: 400;
$fw_bold: 700;
$fw_black: 900;
