@import 'compass';

// PLUGINS ----------

// VARIABLES ----------

// Breakpoints


@mixin respond-to($point) {
  @if $point == smallest {
    @media (min-width: 480px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == medium-2 {
    @media (min-width: 780px)  { @content; }
  }
  @else if $point ==  large {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == largest {
    @media (min-width: 1024px)  { @content; }
  }
  @else if $point == max-width-medium {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == max-width-medium-2 {
    @media (max-width: 780px)  { @content; }
  }
}


// $breakpoint-smallest: 480px;
// $breakpoint-small: 600px;
// $breakpoint-medium: 768px;
// $breakpoint-medium-2: 780px;
// $breakpoint-large: 992px;
// $breakpoint-largest: 1024px;
// $breakpoint-max-width-medium: max-width 768px;
// $breakpoint-max-width-medium-2: max-width 780px;

// Colors

$color-background: #F4E7B7;
$color-link: #f77916;
$color-link-active: #403e35;
$color-text: #5B5541;
$color-black-text: #333;
$color-heading: #403e35;
$color-box-shadow: #B7B19C;

// Fonts

$font: "ff-dagny-web-pro", sans-serif;
$font-logo: "omnes-pro-i9", "omnes-pro", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// MIXINS ----------

@mixin box {
  @include border-radius(4px);
  @include box-shadow(0 2px 4px $color-box-shadow);
  background: #fff;
  border-bottom: 1px solid $color-box-shadow;
  color: #333;
  padding: 4em 0 0;
  margin: 0 -20px 20px;
  padding: 20px;

  @include respond-to(medium) {
    margin: 0 -70px 70px;
    padding: 70px;
  }
}

@mixin global-transition {
  @include transition-duration(0.4s);
}
