/**
 * Global styles
 * This file contains the global styling for .
 *
 * 1. Setup
 *    Global, general stuff.
 *
 * 2. Useful classes
 *    Non semantic helper classes.
 */

/** 1. SETUP ---------- */

/**
 * Box sizing border box
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $color-background;
  color: $color-text;
  font: $font-weight-normal 100%/1.5 $font; /* 16px */
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  border-top: 10px solid rgba(0,0,0,.15);
  font-size: 1em; /* 18px */
  line-height: 1.333; /* 30px */
  padding: 0 20px;

  @media only screen and ($breakpoint-medium) {
    font-size: 1.125em; /* 18px */
    line-height: 1.6666; /* 30px */
    padding: 0; /* 40px 20px */
  }
}


article:before,
article:after { content: ""; display: table; }
article:after { clear: both; }
article { *zoom: 1; }

.wrapper {
  margin: 0 auto;
  max-width: 760px;
}

/** 2. USEFUL CLASSES ---------- */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/**
 * Clearfix
 *
 * Credits:
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
