/**
 * Styles extending the global styles (globals.css)
 *
 * 1. Headings
 * 2. Text
 * 3. Forms
 * 4. Boxes
 * 5. UI components
 * 6. Articles
 * 7. Footer
 * 8. Pages/sections
 * 9. Misc
 */

/** HEADINGS ---------- */

/**
 * Headline
 *
 * A big headline on display
 */

.headline {
  margin: 0 0 2.5em;
}

.headline a:hover {
  background: none;
}

.headline h1,
.headline h2 {
  border-bottom: 0.111em solid #33b4da;
  display: inline;
  font-size: 3.6em; /* 64px */
  font-weight: 700;
  letter-spacing: -2px;
  line-height: normal;
}

/**
 * Sub heading
 */

.subheading {
  color: #666;
}

h1 + h2.subheading {
  margin-top: -0.75em;
}


/** TEXT ---------- */
/**
 * Text formatting
 *
 * Various text formats without any semantic meaning.
 */

.intro {
  font-size: 1.2em; /* 24px */
  line-height: 1.3333; /* 32px */
  margin: .5em 0; /* 12px */
}

.meta {
  color: #888;
  font-size: 0.7em; /* 12px */
  margin: 0 0 1em;
  text-transform: uppercase;
}

.tags span {
  display: block;
  padding-bottom: 0.4em
}

ul.tags {
  display: inline;
  list-style: none;
  margin: 0;
}

ul.tags li {
  display: inline-block;
}

ul.tags li a {
  background: #27A2C4;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin: 0 0.6em 0 0;
  padding: 0 0.4em;
}

/** FORMS ---------- */

.form-item .description {
  color: #888;
}

/** BOXES ---------- */
/**
 * Boxing content with a background color
 */

.note,
.highlight,
.promo,
.warning {
  margin: 1.25em 0;
  padding: 1.25em;
}

.note a,
.highlight a,
.promo a,
.warning a {
  text-decoration: underline;
}

.note a:hover,
.highlight a:hover,
.promo a:hover,
.warning a:hover {
  background: inherit;
  color: inherit;
}

.note p:last-child,
.highlight p:last-child,
.promo p:last-child,
.warning p:last-child {
  margin-bottom: 0;
}

.note {
  background: #ececec;
}

.note a,
.highlight a {
  color: #000;
}

.highlight {
  background: #B5D5FF;
}

.highlight ::-moz-selection {
  background: #fff;
  color: #000;
}

.highlight ::selection {
  background: #fff;
  color: #000;
}

.promo {
  background: #333;
  color: #fff;
}

.warning {
  background: #F2594B;
  color: #fff;
}

.promo a,
.warning a {
  color: #fff;
}

/** 5. UI COMPONENTS ---------- */

