<div id="releasefest-logo-3" class="releasefest-logo">
  <div class="row1">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq blue border_top_right_10px"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row2">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq light_blue border_top_left_5px"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row3">
    <div class="releasefest-logo__sq gray border_top_left_5px"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq gray"></div>
  </div>
  <div class="row4">
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq red"></div>
  </div>
  <div class="row5">
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq yellow"></div>
  </div>
  <div class="row6">
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq blue border_circle"></div>
  </div>
  <div class="row7">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq gray border_bottom_left_10px"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row8">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq light_blue border_bottom_left_5px"></div>
    <div class="releasefest-logo__sq gray"></div>
    <div class="releasefest-logo__sq red"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row9">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq light_blue"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row10">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
  <div class="row11">
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq blue"></div>
    <div class="releasefest-logo__sq yellow"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
    <div class="releasefest-logo__sq transparent"></div>
  </div>
</div>
