
.footer {
  @extend .wrapper;
  padding: 2em 0 20px;
  @include respond-to(medium-2) {
    padding: 8em 0 2em;
  }

  ul {
    @extend .clearfix;
    list-style: none;
    margin: 0;
    @include respond-to(medium) {
      li {
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
          clear: both;
        }
        li {
          float: none;
          width: 100%;
        }
      }
    }
    @include respond-to(largest) {
      li {
        width: 33.333%;
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }
  }

  @include respond-to(max-width-medium-2) {
    h6 {
      font-size: .9em;
    }
  }

  .license {
    margin: 0;
    padding: 2em 0 0;
  }
}
