
.header-logo {
  @include text-shadow(1px 1px 0 $color-background, 2px 2px 0 rgba(0, 0, 0, .3));
  color: $color-text;
  display: block;
  font: italic $font-weight-black 42px/1 $font-logo;
  margin: 0 0 15px;
  padding: 15px 5px 0;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    border: 0;
  }
  @include respond-to(medium) {
    @include inline-block;
    left: 30px;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    text-align: left;
    top: 8px;
  }

  span {
    @include inline-block;
    &:nth-child(even) {
      opacity: .95;
    }
  }
}

.nav {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin: 0 -20px 20px;
  padding: 0 0 20px;
  position: relative;

  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        @include border-radius(2px);
        color: $color-heading;
        font-size: .7em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        &:hover {
          color: $color-link;
        }
      }
    }
  }
  @include respond-to(medium) {
    margin: 0 0 40px;
    padding: 20px 0;
    ul {
      text-align: right;
      li:last-child {
        padding-right: 30px;
      }
    }
  }
}
