
.nav {
  border-bottom: 1px dashed rgba(0, 0, 0, .3);
  margin: 0 0 40px;
  padding: 20px 0;
  position: relative;

  ul {
    list-style: none;
    opacity: .6;
    text-align: right;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  li {
    display: inline-block;
    padding: 0 10px;
  }

  li:last-child {
    padding-right: 30px;
  }

  li a {
    color: $heading_color;
    font-size: .7em;
    font-weight: $fw_bold;
    text-transform: uppercase;
  }

  li a:hover {
    color: $link_color;
  }
}

.nav:hover ul {
  opacity: 1;
}

.header-logo {
  color: $text_color;
  display: inline-block;
  font: $fw_black 30px/1 $logo_font;
  left: 30px;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  text-shadow:
    1px 1px 0 #F0E9CD,
    3px 3px 0 rgba(0, 0, 0, .3);

  top: 17px;

  span {
    display: inline-block;
  }

  span:nth-child(even) {
    opacity: .95;
  }
}

.header-logo:hover {
  border: 0;
}
