//=require mapbox.js/mapbox.css

@charset "utf-8";

// -----------------------------------------------------------------------------
// Libraries
// -----------------------------------------------------------------------------
@import "normalize-scss";
@import "kollegorna-design-system";

// -----------------------------------------------------------------------------
// General stuff
// -----------------------------------------------------------------------------

html {
  width: 100%;
  height: 100%;
}

body {
  color: $ds-color-scrub;
}

%content-wrapper {
  clear: both;
  margin: 0 auto 80px;
  max-width: 700px;
  padding: 0 20px;
}

// Embed things responsivly
// http://embedresponsively.com/
.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.header {
  padding: 60px 0 40px;
  text-align: center;

  h1 {
    margin: 0;
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  color: $ds-color-text-light;
  padding: 120px 20px 40px;
  text-align: center;

  img {
    opacity: 0.6;
  }
}

.footer__cc {
  padding-top: 20px;
}

// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------

.home__language {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: -50px;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;

  span {
    display: block;
    font-size: $ds-font-size-body-copy;
    line-height: 50px;
    text-align: center;

    @media screen and (max-width: 400px) {
      font-size: $ds-font-size-small;
    }
  }
}

.home__intro,
.home__projects,
.home__labs,
.home__blog,
.home__more,
.home__jobs,
.home__clients {
  @extend %content-wrapper;
}

.home__intro {
  margin-bottom: 50px;

  h1 {
    margin: 0;
    text-align: center;

    img {
      max-width: 160px;
    }
  }

  p {
    @media (min-width: 600px) {
      font-size: $ds-h3-font-size;
    }
  }
}

.home__colleagues {
  @extend %ds-clearfix;
  margin: 0 auto 60px;
  max-width: 1280px;
  padding: 0 20px;
  text-align: center;

  @media (min-width: 500px) {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: ds-rem-calc(36);
  }
}

.profile {
  padding-bottom: 40px;

  img {
    max-width: 180px;
  }

  h1 {
    @extend %h3;
    font-size: $ds-h4-font-size;
    margin: 0;
    text-transform: none;
  }

  h2 {
    @extend %h5;
    color: $ds-color-text-light;
    font-weight: $ds-font-weight;
    margin: 0;
  }

  @media (min-width: 500px) {
    float: left;
    padding: 0 20px 40px;
    width: 50%;

    &:nth-child(2n+1) {
      clear: both;
    }
  }

  @media (min-width: 700px) {
    width: 33.333%;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: both;
    }

    &:last-child {
      margin-left: 33.333%;
    }

    img {
      max-width: 140px;
    }
  }

  @media (min-width: 940px) {
    width: 25%;

    &:nth-child(2n+1),
    &:nth-child(3n+1) {
      clear: none;
    }

    &:nth-child(4n+1) {
      clear: both;
    }

    &:last-child {
      margin-left: 0;
    }

    &:nth-child(9) {
      margin-left: 25%;
    }
  }

  @media (min-width: 1100px) {
    width: 20%;

    &:nth-child(2n+1),
    &:nth-child(3n+1),
    &:nth-child(4n+1) {
      clear: none;
    }

    &:nth-child(5n+1) {
      clear: both;
    }

    &:nth-child(9) {
      margin-left: 0;
    }
  }
}

.profile__does {
  @extend small;
  margin: 5px 0 10px;
}

.profile__contact {
  @extend small;
  margin-bottom: 10px;
}

.profile__links {
  a {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.5s ease-in;
    width: 26px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.35);
    }

    img {
      max-width: 12px;
      opacity: 0.55;
    }
  }
}

.profile__tumblr {
  img {
    max-width: auto;
    height: 12px;
  }
}

.home__labs,
.home__blog {
  ul {
    list-style: none;
    margin: 0 0 25px;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  time {
    display: block;
  }
}

.home__projects__cta {
  padding-top: 30px;
}

.home__projects__cta,
.home__labs__cta,
.home__blog__cta {
  text-align: center;
}

.home__clients {
  ul {
    @extend %ds-clearfix;
    list-style: none;
    margin: 0;
  }

  li {
    margin-bottom: 5px;
    text-align: center;

    @media (min-width: 400px) {
      float: left;
      text-align: left;
      width: 50%;

      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @media (min-width: 600px) {
      width: 33.333%;

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// General pages
// -----------------------------------------------------------------------------

.page {
  @extend %content-wrapper;
}

// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------

.blog {
  @extend %content-wrapper;
}

.article-summary {
  h1 {
    font-size: $ds-font-size-body-copy;
    margin: 0;
  }

  time {
    color: $ds-color-text-light;
    font-size: $ds-font-size-body-copy;
  }

  .blog & {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article {
  @extend %content-wrapper;

  figure {
    text-align: center;
  }

  img {
    float: none;
  }
}

.article__header {
  text-align: center;

  time {
    color: $ds-color-text-light;
    font-size: $ds-font-size-body-copy;
  }
}

.article__body {
  img,
  .fluid-width-video-wrapper iframe {
    @extend .polaroid;
  }
}

// -----------------------------------------------------------------------------
// Case studies landing page / listing
// -----------------------------------------------------------------------------

.case-studies__intro {
  margin-bottom: 50px;
}

// -----------------------------------------------------------------------------
// Case study
// Example: /case/bgplay
// -----------------------------------------------------------------------------

.case {
  padding: 0 10px 120px;
}

.case__header {
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
}

.case__cta {
  margin-top: 4rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.case__content {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 10px;

  @media (min-width: 1024px) {
    max-width: 1280px;
    padding: 40px 40px 0;
  }

  @media (min-width: 1280px) {
    padding: 50px 40px 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.case__description {
  @media (min-width: 1024px) {
    float: left;
    padding: 0 10px;
    width: 60%;
  }
}

.case__facts {
  @media (min-width: 1024px) {
    float: right;
    padding: 10px 10px 0;
    width: 30%;
  }

  h5 {
    margin-bottom: 0.1rem;
  }

  ul {
    @extend %t-list-inline;
  }

  ul,
  p {
    @extend %ds-t-meta;
    @extend %ds-t-small;
  }
}

.case__media {
  margin: 0 auto;
  max-width: 1600px;

  .js & {
    display: none;
  }
}

.case__media__item {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1280px) {
    width: 25%;
  }

  &--medium {
    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 1280px) {
      width: 33.333%;
    }
  }

  &--large {
    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 1280px) {
      width: 50%;
    }
  }

  &--full {
    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 100%;
    }
  }
}

.case__media__object {
  margin: 10px;
}

.case__media__tweet,
.case__media__stats {
  background: rgba(black, 0.05);
  border-radius: 2px;
  padding: 17px;
}

.case__media__tweet {
  blockquote {
    @extend %ds-t-meta;
    border: 0;
    font-size: 1rem;
    font-style: normal;
    margin: 0 0 1rem;
    padding: 0;

    p {
      color: $ds-color-text;
    }
  }

  &__image {
    float: left;
    padding: 3px;
    width: 60px;
  }

  &__content {
    margin-left: 75px;
  }
}

.case__media__stats {
  text-align: center;

  hr {
    margin: 0 auto 1rem;
  }

  &__figure {
    font-size: 6rem;
  }

  &__caption {
    @extend %ds-t-meta;
    @extend %ds-t-small;
  }
}

body .pretty-embed {
  img {
    float: none;
  }

  &:after,
  &:after:hover {
    background-image: image-url('video-play.svg') !important;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0.8;
    width: 100px;
  }
}

// -----------------------------------------------------------------------------
// General stuff
// -----------------------------------------------------------------------------

.xmas-greeting {
  padding: 0 20px;

  .header,
  .footer {
    display: none; // SHAME :)
  }

  &__header {
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      margin: 0;
      padding: 40px 0;

      @media (min-width: 500px) {
        padding: 60px 0;
      }

      @media (min-width: 800px) {
        padding: 100px 0;
      }
    }
  }

  &__logo--large {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  &__logo--small {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__colleagues {
    display: inline-block;
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      padding: 0 8px 5px;
      width: 48%;

      @media (min-width: 500px) {
        width: 31.5%;
      }

      @media (min-width: 768px) {
        width: 24%;
      }

      img {
        @media (max-width: 600px) {
          padding: 5px;
        }
      }
    }
  }

  &__content {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }

  &__gift {
    padding: 30px 0;
  }

  &__footer {
    padding: 40px 0 200px;
    text-align: center;
    img {
      max-width: 100px;
    }
  }
}


// -----------------------------------------------------------------------------
// Colleagues Map
// -----------------------------------------------------------------------------

.map {
  
  width: 100%;
  height: 100%;
  
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
//    background-image: url(images/icons-000000@2x.png);
//    background-image: image-url(asset-path('/assets/images/mapbox.js/images/icons-000000@2x.png'));
  }
  
  .header,
  .footer,
  .home__language {
    display: none;
  }
  
  .map__logo {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0; 
    left: 0;
    width: 60px;
    height: 58px;
    margin: auto;
    opacity: .8;
  }
  .map__profile {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid rgba($ds-color-orange, .7);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
  }
  #raymall { background-image: url(http://static.comicvine.com/uploads/original/11118/111183530/4164391-8467850456-JL_Ba.jpg); }
  .map__container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  .map__marker {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba($ds-color-orange, .8);
  }
  .map__popup {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    h2 {
      margin-top: 130px;
      text-align: center;
      color: $ds-color-kollegorna;
    }
  }
  .marker__pulse {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid $ds-color-orange-darkest;
    opacity: 0;
  }
}