
/**
 * The Grid – Layout
 *
 * A lapptäcke of stuff in square cells!
 */
.the-grid {
  //@include clearfix;
  margin: 0 auto;
  max-width: 1400px;

  article {
    float: left;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;

    a {
      border: 0;
      display: block;
    }

    @media (min-width: 480px) {
      margin: 0;
      padding-bottom: 50%;
      width: 50%;

      a {
        max-width: 100%;
        position: absolute;
      }
    }

    @media (min-width: 660px) {
      padding-bottom: 33%;
      width: 33%;
    }

    @media (min-width: 800px) {
      padding-bottom: 25%;
      width: 25%;
    }

    @media (min-width: 1200px) {
      padding-bottom: 20%;
      width: 20%;
    }

    @media (min-width: 1600px) {
      padding-bottom: 20%;
      width: 20%;
    }
  }
}

/**
 * The Grid - Style
 */

.the-grid {
  margin-bottom: 20px;

  @media (min-width: 660px) {
    padding: 0 20px;
  }

  article {
    @include the-grid-box;
    text-align: center;
  }

  a {

    margin: 0;
  }

  a,
  img,
  h2,
  .box {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  h1 {
    color: #fff;
    font-size: 1em;
    margin: 0;
    line-height: 1.5;
  }

  h2 {
    @include border-radius(4px 0 4px 0);
    background: $color-link;
    color: #fff;
    font-size: .8em;
    display: inline-block;
    left: 0;
    line-height: 1em;
    margin: 0;
    padding: 10px 8px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }

  .box {
    @include border-radius(0 0 4px 4px);
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    color: #fff;
    font-size: 1em;
    padding: 15px 10px;
    position: absolute;
    width: 100%;

    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  .touch & article {
    p {
      display: none;
    }
  }

  .no-touch & article {
    h2 {
      top: -500px;
    }

    &:hover h2 {
      top: 0;
    }

    .box {
      bottom: -500px;
    }

    &:hover .box {
      bottom: 0;
    }
  }
}
