---
layout: default
title: Om oss | Kollegorna
meta_title: Om oss
meta_description: "Hör av dig och berätta om ditt nästa projekt."
body_class: about
---

<article class="l-page" role="main">
  <div class="l-block l-block--medium">
    <div class="l-block__section">
      <div class="page-polaroid2">
        <header class="l-block__header">
          <h1 class="t-hero">Hej, vi är Kollegorna</h1>
        </header>

        <div class="l-block__intro">
          <p class="t-lead">
            Vi är en webbyrå bestående av medarbetare med olika bakgrund, intressen och expertis som tillsammans har lång erfarenhet av att utveckla och leda webbprojekt. Vårt brinnande intresse och förståelse för den digitala världen driver oss framåt i jakten på ny kunskap och nya utmaningar.
          </p>
        </div>

        <div class="l-block__content">
          <p>Det här kan vi göra för dig:</p>

          <div class="pull-out">
            <div class="pull-out__item">
              <h3 class="pull-out__title">Strategi, planering och ledning.</h3>
              <p>Vi hjälper dig med din strategi, analyserar dina behov, tar fram lösningsförslag och leder projektet i mål.</p>
            </div>
          </div>
          <div class="pull-out">
            <div class="pull-out__item">
              <h3 class="pull-out__title">Design och utveckling.</h3>
              <p> Vi står för interaktions- och webbdesign samt utveckling inom på den plattform vi bedömer vara mest lämplig för varje specifikt projekt. Vi är experter på:</p>
              <ul>
                <li><strong class="t-heavy">Drupal</strong>. Ett bra val för sajter med höga krav på. Exempelprojekt: <a href="#">Nöjesguiden</a>, <a href="#">Medievärlden</a>, <a href="#">Statens Medieråd</a>.</li>
                <li><strong class="t-heavy">Ruby on Rails</strong> (kort om: vad vi gjort med Rails och Rails allmänt)</li>
              </ul>
            </div>
          </div>
          <div class="pull-out">
            <div class="pull-out__item">
              <h3 class="pull-out__title">Utbildning och support.</h3>
              <p>Vi ser till att alla inblandade lär sig det som behövs för att kunna hantera projektet och finns där med svar på era frågor när ni behöver det.</p>
            </div>
          </div>
          <div class="pull-out">
            <div class="pull-out__item">
              <h3 class="pull-out__title">Löpande utveckling.</h3>
              <p>I de flesta fallen är arbetet allt annat än över efter lansering. Vi ser till att bevaka, analysera, underhålla och vidareutveckla lösningen.</p>
            </div>
          </div>

          <p>Vi arbetar ihop med dig i ett nära samarbete i en prestigelös, kreativ och målinriktad miljö. Du ger oss ditt fulla förtroende men tvekar inte att utmana oss och ge oss feedback. Den kunskap du besitter om din verksamhet är oerhört värdefull. Vi lyssnar och tar till oss men för att kunna ge de bästa svaren måste vi få utforska dina frågor.</p>

          <p><strong>Hör av dig och berätta om ditt nästa projekt!</strong></p>
        </div>
        <!-- / .l-block__content -->
      </div>
      <!-- / .page-polaroid -->
    </div>
    <!-- / .l-block__section -->

    <hr>

    <div class="l-block__section">
      <div class="l-block__content">
        <h2>Kunder</h2>

        <p>Sedan grundandet 2010 har vi haft förmånen att jobba med uppdrag åt bland andra:</p>

        <ul class="l-up-3-columns t-center clients">
          <li class="l-column">UR</li>
          <li class="l-column">Paradox Interactive</li>
          <li class="l-column">Nöjesguiden</li>
          <li class="l-column">IDG</li>
          <li class="l-column">Samtrafiken</li>
          <li class="l-column">Medievärlden</li>
          <li class="l-column">Statens Medieråd</li>
          <li class="l-column">ActionAid</li>
          <li class="l-column"><abbr title="Sveriges Tjej- och Kvinnojourers Riksförbund">SKR</abbr></li>
          <li class="l-column">Blendow Group</li>
          <li class="l-column">Redeye</li>
          <li class="l-column">Vattenfall</li>
          <li class="l-column">KTH</li>
          <li class="l-column">Södersjukhuset</li>
          <li class="l-column">Bonnier</li>
          <li class="l-column">Sollentuna kommun</li>
        </ul>
        <p><a href="/projekt" class="t-heavy">Mer om projekt & uppdrag</a></p>
      </div>
      <!-- / .l-block__content -->
    </div>
    <!-- / .l-block__section -->

  </div>
  <!-- / .l-block -->

  <div class="hero l-block__section">
    <div class="l-block">
      <div class="l-block__content">
        <div class="hero__header">
          <h2 class="hero__title t-center">Kollegor</h2>
        </div>
      </div>
    </div>
    <!-- / .l-block -->

    <div class="l-up-3-columns">
    {% for colleagues in site.data.colleagues %}
        {% for colleague in colleagues %}
          {% if colleague.firstname %}
            <article class="l-column profile" vocab="http://schema.org/" typeof="Person">
              <figure class="profile__image">
                <img property="image" src="{{ colleague.email | to_gravatar }}" alt="Bild på {{ colleague.firstname }} {{ colleague.lastname }}" />
              </figure>
              <!-- / .profile__image -->


                <h1 class="profile__name">{{ colleague.firstname }} {{ colleague.lastname }}</h1>
                <h2 class="profile__title">{{ colleague.title }}</h2>

                {% if colleague.does %}
                  <div class="profile__does">{{ colleague.does }}</a></div>
                {% endif %}

                <div class="profile__meta">
                  {% if colleague.email %}
                    <a class="t-icon" href="mailto:{{ colleague.email }}">
                      <i class="icon-mail"></i>
                      <span>{{ colleague.email }}</span>
                    </a>
                  {% endif %}

                  {% if colleague.github %}
                    <a class="t-icon" href="https://github.com/{{ colleague.github }}">
                      <i class="icon-github"></i>
                      <span>GitHub</span>
                    </a>
                  {% endif %}

                  {% if colleague.twitter %}
                    <a class="t-icon" href="https://twitter.com/{{ colleague.twitter }}">
                      <i class="icon-twitter"></i>
                      <span>Twitter</span>
                    </a>
                  {% endif %}

                  {% if colleague.linkedin %}
                    <a class="t-icon" class="g-icon" href="{{ colleague.linkedin }}">
                      <i class="icon-linkedin"></i>
                      <span>LinkedIn</span>
                    </a>
                  {% endif %}
                </div>
                <!-- / .profile__meta -->

            </article>
            <!-- / .profile -->
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <!-- / .hero -->

  <div class="l-block l-block--medium">
    <div class="l-block__section">
      <div class="l-block__content">
        <h2>Mer om oss</h2>

        <div class="pull-out">
          <div class="pull-out__item">
            <h3 class="pull-out__title">Vi <span class="t-accent">❤</span> öppen källkod.</h3>
            <p>Vi arbetar uteslutande med tekniska ramverk och lösningar baserade på öppen källkod. Om det är möjligt att bryta loss och generalisera kod vi tar fram så ser vi gärna att vi får göra detta i form av olika öppen källkods-projekt.</p>
          </div>
        </div>

        <div class="pull-out">
          <div class="pull-out__item">
            <h3 class="pull-out__title">Samhällsengagemang.</h3>
            <p>Vi vill bidra till en bättre och mer rättvis värld stöder därför ActionAid samt Sveriges Tjej- och Kvinnojourers Riksförbund på olika sätt i olika projekt.</p>
          </div>
        </div>

        <div class="pull-out">
          <div class="pull-out__item">
            <h3 class="pull-out__title">Labb.</h3>
            <p>I vårt labb hittar ni de olika öppen källkods-projekt vi bidrar till samt en blogg med fokus på utveckling och design för webben. <a href="http://labs.kollegorna.se">Till labbet <span class="t-heavy">→</span></a></p>
          </div>
        </div>
      </div>
      <!-- / .l-block__content -->
    </div>
    <!-- / .l-block__section -->

    <hr>

    <div class="l-block__content">
      <h2>Jobba hos oss</h2>

      <p>I nuläget har vi inga öppna positioner men låt inte det hindra dig om du tror att du är rätt person för oss. Hör av dig till <a href="mailto:per@kollegorna.se">Per Sandström</a>.</p>
    </div>
    <!-- / .l-block__content -->
  </div>
  <!-- / .l-block -->
</article>
