<div class="box-gradient-border">
  <p>
    <strong>Stöd och inspiration för förbättringsarbete inom vården.</strong>
    <a href="/case/genombrott">Genombrott</a> är ett verktyg från Sveriges Kommuner och Landsting som i nuläget testkörs hos olika arbetsplatser inom psykiatrin.
  </p>
</div>

<div class="box-gradient-border">
  <p><strong>Hurra för svenska digitala projekt och produker!</strong> På <a href="/case/releasefest">Releasefest</a> firas svenskproducerade webbplatser, webbtjänster, kampanjer, ehandelssajter, open source-projekt och mer därtill.</p>
</div>

<div class="box-gradient-border">
  <p><strong>Hur bra är du på att bedöma risker?</strong> <a href="/case/dina-risker">Dina Risker</a> är ett riskbedömningsspel från Dina Försäkringar som vi byggt tillsammans med våra vänner på Edelman Deportivo.</p>
</div>

<div class="box-gradient-border">
  <p><strong>Rapporter, analyser och insikter om medier nu och i framtiden.</strong> <a href="/case/medievarlden-premium">Medievärlden Premium</a> är en prenumerationstjänst för dig som behöver bättre beslutsunderlag och vill höja din kompetens i avgörande framtidsfrågor.</p>
</div>

<div class="box-gradient-border">
  <p><strong>Plattform för webb-TV inom juridik.</strong> På <a href="/case/bgplay">BG Play</a> ger Sveriges främsta experter dig aktuella nyheter och vidareutbildning för olika områden inom juridiken.</p>
</div>
