<!--<section class="page">
  <h2>
    Utvalda case
  </h2>

  <%= partial "case_studies_featured" %>
  <%= partial "case_studies" %>
</section>-->

<div class="t-center">
  <a class="button" href="/case">Fler case</a>
</div>
