<div class="box-gradient-border">
  <p><strong>Ökad spelglädje för över ett chockerande antal gamers.</strong> Single Sign On-lösningen <a href="/case/paradox-accounts">Paradox Accounts</a> står pall för Paradox Interactives spelsuccéer.</p>
</div>

<div class="box-gradient-border">
  <p>
    <strong>Snygg statistik i realtid för livesändningen av Ö till Ö.</strong>
    Videotrollkarlarna på FKDV behövde ett verktyg som hämtade realtidsdata från tidtagningssystemet och skapade snygga inforutor som de kunde lyfta in i livesändningen från <a href="/case/otillo">Ö till Ö</a>.
  </p>
</div>

<div class="box-gradient-border">
  <p><strong>Gjort en bra runda? Rama in den snyggt.</strong> <a href="/case/gpxio">GPX.io</a> är en karttjänst där det går att ladda upp löpturer (eller vad som helst) som en vill skryta om.</p>
</div>

<div class="box-gradient-border">
  <p>
    <strong>Bristen på rent vatten är en global kris.</strong> Genom att <a href="/case/wateraid-manadsgivare">bli månadsgivare</a> eller <a href="/case/wateraid-gavoshop">skänka pengar i gåvoshopen</a> hjälper du WaterAid rädda och förändra liv.
  </p>
</div>
