<div class="page-overlay"></div>

<header class="header">
  <a href="/" class="k-logo" role="presentation"><span>K</span></a>

  <nav class="navigation">
    <div class="navigation-toggle navigation-toggle-inactive"><i class="icon-menu"></i></div>

    <div class="navigation-contents">
      <div class="decor"></div>
      <ul>
        <li><a href="/">Hem</a></li>
        <li>
          <a href="/projekt/">Projekt</a>
        </li>
        <li><a href="/kontakta/">Kontakta</a></li>
        <li><a href="/blogg/">Blogg</a></li>
      </ul>
    </div>
  </nav>
  <!-- / .navigation -->
</header>
<!-- / .header -->
