---
layout: default
title: Blogg | Kollegorna
meta_title: Blogg
meta_description: "Följ Kollegornas framfart!"
body_class: blog
---

<section class="blog">
  <header class="blog-header" role="banner">
    <div class="blog-header__content">
      <figure class="blog-header__logo">
        <span class="gradient-border"><a href="/blogg"><img src="{% asset_path blog/blog-heading.svg %}" alt="Blogg" data-fallback="{% asset_path blog/blog-heading.png %}"></a></span>
      </figure>
      <a class="blog-header__rss" href="/rss.xml"><span>Prenumerera via RSS</span></a>

      <!--<div class="gradient-border gradient-border--thin" style="display: block; margin: 10px auto 20px; width: 250px"></div>-->

      <div class="blog-header__info">
        <span class="blog-header__count">{{ site.posts | size }}</span> inlägg om

        <span data-typer-targets='{ "targets" : ["lanseringar","webbnörderi","det senaste","nytt folk"]}'>det senaste</span>
      </div>
    </div>
  </header>

  <main class="blog-posts" role="main">
    {% for post in paginator.posts %}
      <div class="post-item post-item--{{ post.type }}">
      {% if post.type == "post-blank" %}
        {{ post.content }}
      {% else %}
        <article class="post post--{{ post.type }}" vocab="http://schema.org/" typeof="BlogPosting">
          {% case post.type %}
            {% when 'link' %}
              <div property="articleBody" class="post-content">
                <h1 property="name"><a href="{{ post.link_url }}">{{ post.link_title }}</a></h1>
                {{ post.content }}
              </div>
            {% when 'quote' %}
              <div property="articleBody" class="post-content">
                <blockquote class="post-quote">
                  {{ post.quote }}
                </blockquote>

                {% if post.cite %}
                  <cite class="post-cite">
                    {{ post.cite }}
                  </cite>
                {% endif %}

                {{ post.content }}
              </div>
            {% when 'image' %}
              <div property="articleBody" class="post-content">
                <figure class="post-image">
                  <img src="{{ post.image }}" alt="{{ post.title }}">

                  {% if post.caption %}
                    <figcaption>
                      {{ post.caption }}
                    </figcaption>
                  {% endif %}
                </figure>
                {{ post.content }}
              </div>
            {% when 'video' %}
              <div property="articleBody" class="post-content">
                <figure class="post-video">
                  {{ post.video_embed_code }}

                  {% if post.caption %}
                    <figcaption>
                      {{ post.caption }}
                    </figcaption>
                  {% endif %}
                </figure>
                {{ post.content }}
              </div>
            {% else %}
              <header class="post-header">
                {% if post.image %}
                  <figure class="post-image">
                    <img property="image" src="{{ post.image }}" alt="{{ post.image_alt }}">
                  </figure>
                {% endif %}

                <h1 property="name"><a href="{{ post.url }}">{{ post.title }}</a></h1>
              </header>

              {% if post.summary %}
                <div property="description" class="post-summary">
                  {{ post.summary }}
                  <p class="post-read-more">
                    <a href="{{ post.url }}">Läs hela inlägget</a>
                  </p>
                </div>
              {% else %}
                <div property="articleBody" class="post-content">
                  {{ post.content }}
                </div>
              {% endif %}
          {% endcase %}

          <footer class="post-footer">
            {% assign author = site.data.colleagues[post.author] %}
            {% if author %}
              <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
                <div class="post-author__image">
                  <img property="image" src="{{ author.email | to_gravatar }}" alt="Bild på {{ author.firstname }} {{ author.lastname }}" />
                </div>
                <div class="post-author__name">
                  <a property="email" href="mailto:{{ author.email }}">
                    <span property="givenName">{{ author.firstname }}</span>
                    <span property="familyName">{{ author.lastname }}</span>
                  </a>
                </div>
              </div>
            {% endif %}

              <div class="post-meta">
                <time class="post-date" property="dateCreated" pubdate><a property="url" href="{{ post.url }}">{{ post.date | date_to_string }}</a></time>
                <!--<span class="post-tags">taggat <a href="#">kunder</a>, <a href="#">priser</a></span>-->
              </div>

            {% if post.source_url %}
              <div class="post-via">
                via
                <a property="isBasedOnUrl" href="{{ post.source_url }}">
                  {% if post.source_title %}
                    {{ post.source_title }}
                  {% else %}
                    {{ post.source_url }}
                  {% endif %}
                </a>
              </div>
            {% endif %}
          </footer>
          <!-- / .post-footer -->

        </article>
        <!-- / .post -->
      {% endif %}
      </div>
      <!-- / .post-item -->
    {% endfor %}
  </main>

  <footer class="blog-footer">
    <nav class="pagination">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/blogg" class="pagination__previous">&laquo;</a>
        {% else %}
          <a href="/blogg/page{{ paginator.previous_page }}" class="pagination__previous">&laquo;</a>
        {% endif %}
      {% else %}
        <!--<span class="pagination__previous">Föregående</span>-->
      {% endif %}
      <span class="pagination__page-number">Sida {{ paginator.page }} av {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="/blogg/page{{ paginator.next_page }}" class="pagination__next">&raquo;</a>
      {% else %}
        <!--<span class="pagination__next">&raquo;</span>-->
      {% endif %}
    </nav>
  </footer>
  <!-- / .blog-footer -->

</section>
<!-- / .blog -->
