
.icon-phone:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */