---
layout: default
title: Kontakta oss | Kollegorna
meta_title: Kontakta oss
meta_description: "Hör av dig och berätta om ditt nästa projekt."
body_class: contact
---

<header class="page-header" role="banner">
  <h1 class="t-hero t-center l-no-margin"><span class="gradient-border">Kontakta oss</span></h1>
</header>

<section role="main">

  <div class="colleagues">
    {% for colleagues in site.data.colleagues %}

      {% for colleague in colleagues %}
        {% if colleague.firstname %}
          <article class="colleague" vocab="http://schema.org/" typeof="Person">
            <figure class="colleague__image">
              <img property="image" src="{{ colleague.email | to_gravatar }}" alt="Bild på {{ colleague.firstname }} {{ colleague.lastname }}" />
            </figure>
            <!-- / .colleague__image -->

            <h1 class="colleague__name">{{ colleague.firstname }} {{ colleague.lastname }}</h1>
            <h2 class="colleague__title">{{ colleague.title }}</h2>

            {% if colleague.email %}
              <div class="colleague__meta"><a href="mailto:{{ colleague.email }}">{{ colleague.email }}</a></div>
            {% endif %}

            {% if colleague.phone %}
              <div class="colleague__meta"><a href="callto:{{ colleague.phone }}">{{ colleague.phone }}</a></div>
            {% endif %}
          </article>
          <!-- / .contact -->
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <!-- / .contacts -->

  <article id="map" class="contact-office">
    <h2><span class="gradient-border gradient-border--thin">Var vill du träffas?</span></h2>

    <h3 class="contact-office__city">Stockholm</h3>
    <h4 class="contact-office__address">Wallingatan 37, 4 tr</h4>

    <iframe class="contact-office__map" width="100%" height="500" frameBorder="0" src="//a.tiles.mapbox.com/v3/kollegorna.map-wc9wf5ae/attribution,zoompan,geocoder.html"></iframe>

    <h3 class="contact-office__city">Valencia</h3>
    <h4 class="contact-office__address">c/o WayCo<br>Gobernador Viejo 29</h4>

    <iframe class="contact-office__map" width="100%" height="500" frameBorder="0" src="//a.tiles.mapbox.com/v3/kollegorna.i2i19199/attribution,zoompan,geocoder.html"></iframe>
  </article>
  <!-- / .map -->

  <article class="contact-snail-mail">
    <h2 class="l-no-margin"><span class="gradient-border gradient-border--thin">Postadress</span></h2>
    <h3 class="t-h5">Skicka brev och vykort till:</h3>

    <address>
      Kollegorna AB<br>
      Wallingatan 37<br>
      111 24 Stockholm
    </address>
  </article>
</section>
