.contact {
  .nav-contact {
    a,
    a:hover,
    a:focus {
      background: $ds-color-heading;
      border: 0;
      color: $ds-color-background;
      padding: 4px 6px 2px;
    }
  }
  [role="main"],
  [role="banner"] {

  }
  [role="banner"] {
    @extend %ds-wrapper;
    margin-bottom: 20px;
    padding-top: 40px;
    h1 {
      font-size: 2em;
      text-transform: uppercase;
    }
    @include breakpoint($ds-breakpoint-tablet) {
      margin-bottom: 40px;
      padding-top: 80px;
    }
  }
}

.colleague-wrap {
  @extend %ds-wrapper;
}

.colleagues {
  //@include ds-box;
  ul {
    @include clearfix;
    list-style: none;
    @include breakpoint($ds-breakpoint-tablet) {
      li {
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
          clear: both;
        }
      }
    }
    /*@include breakpoint($ds-breakpoint-laptop) {
      li {
        width: 33.333%;
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }*/
  }
  h3,
  h4,
  dt {
    //color: $ds-color-black-text;
  }
  dt {
    font-weight: $ds-font-weight;
  }
}

.map {

}
