.projects {
  .nav-projects {
    a,
    a:hover,
    a:focus {
      background: $ds-color-heading;
      border: 0;
      color: $ds-color-background;
      padding: 4px 6px 2px;
    }
  }

  [role="banner"],
  [role="main"] {
    @extend %ds-wrapper;
  }
  [role="banner"] {
    @include clearfix;
    margin-bottom: 20px;
    @include breakpoint($ds-breakpoint-tablet) {
      margin-bottom: 40px;
      padding: 60px 0;
    }

    h1 {
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}

.our-projects {
  @include breakpoint($ds-breakpoint-tablet) {
    float: left;
    width: 60%;
  }

  ul {
    list-style: none;
    li {
      display: block;
      a {
        @extend .cta;
      }
    }
  }
}

.current-projects {
  margin: 0 0 20px;
  @include breakpoint($ds-breakpoint-tablet) {
    float: right;
    margin-bottom: 0;
    width: 34%;
  }
}

.project {
  @include clearfix;
  @include ds-box;

  h1 {
    font-size: 1.4em;
  }

  figure {
    margin: -20px -20px 0;

    img {
      @include clearfix;
      margin-bottom: 20px;
    }

    @include breakpoint($ds-breakpoint-tablet) {
      margin: -40px -40px 0;

      img {
        margin-bottom: 40px;
      }
    }

    @include breakpoint($ds-breakpoint-laptop) {
      margin: -80px -80px 0;

      img {
        margin-bottom: 80px;
      }
    }
  }

  img {
    @include border-radius(4px);
    display: block;
  }
}
