/**
 * Global design system
 */
/** PLUGINS ---------- */
/** BREAKPOINT */
/** VARIABLES ---------- */
/** BREAKPOINTS */
/** COLORS */
/** FONTS */
/**
 * Global styles
 * This file contains the global styling for .
 *
 * 1. Setup
 *    Global, general stuff.
 *
 * 2. Useful classes
 *    Non semantic helper classes.
 */
/** 1. SETUP ---------- */
/**
 * Box sizing border box
 */
/* line 17, ../sass/_globals.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/_globals.scss */
html {
  background: #f0e9cd;
  color: #5f5c4e;
  font: 400 100%/1.5 "ff-dagny-web-pro", sans-serif;
  /* 16px */
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 34, ../sass/_globals.scss */
body {
  border-top: 10px solid rgba(0, 0, 0, 0.15);
  font-size: 1em;
  /* 18px */
  line-height: 1.333;
  /* 30px */
  padding: 0 20px;
}
@media only screen and (min-width: 780px) {
  /* line 34, ../sass/_globals.scss */
  body {
    font-size: 1.125em;
    /* 18px */
    line-height: 1.6666;
    /* 30px */
    padding: 0;
    /* 40px 20px */
  }
}

/* line 49, ../sass/_globals.scss */
article:before,
article:after {
  content: "";
  display: table;
}

/* line 50, ../sass/_globals.scss */
article:after {
  clear: both;
}

/* line 51, ../sass/_globals.scss */
article {
  *zoom: 1;
}

/* line 53, ../sass/_globals.scss */
.wrapper, .footer, .home [role="banner"], .home .posts, .projects [role="banner"], .projects [role="main"], .blog [role="banner"], .blog [role="main"], .blog-post [role="main"], .contact [role="banner"], .contact [role="main"] {
  margin: 0 auto;
  max-width: 760px;
}

/** 2. USEFUL CLASSES ---------- */
/* For image replacement */
/* line 61, ../sass/_globals.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 65, ../sass/_globals.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 69, ../sass/_globals.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 72, ../sass/_globals.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 75, ../sass/_globals.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix
 *
 * Credits:
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
/* line 84, ../sass/_globals.scss */
.clearfix, .footer ul, .projects [role="banner"], .project, .colleagues ul {
  zoom: 1;
}
/* line 86, ../sass/_globals.scss */
.clearfix:before, .footer ul:before, .projects [role="banner"]:before, .project:before, .colleagues ul:before, .clearfix:after, .footer ul:after, .projects [role="banner"]:after, .project:after, .colleagues ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 92, ../sass/_globals.scss */
.clearfix:after, .footer ul:after, .projects [role="banner"]:after, .project:after, .colleagues ul:after {
  clear: both;
}

/** 2. LINKS ---------- */
/* line 4, ../sass/_typography.scss */
a {
  color: #f77916;
  text-decoration: none;
}

/* line 9, ../sass/_typography.scss */
a:active {
  border-bottom-color: #403e35;
  color: #403e35;
}

/* line 15, ../sass/_typography.scss */
a:hover,
a:active {
  outline: none;
}

/* line 20, ../sass/_typography.scss */
a:focus,
a:hover {
  border-bottom: 2px solid #f77916;
}

/* line 24, ../sass/_typography.scss */
a:link {
  -webkit-tap-highlight-color: #403e35;
}

/**
 * Call to action
 */
/* line 32, ../sass/_typography.scss */
.cta, .home [role="banner"] .presentation a, .our-projects li a, .blog [role="banner"] a {
  border-bottom: 2px solid #f77916;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 43, ../sass/_typography.scss */
.cta:hover, .home [role="banner"] .presentation a:hover, .our-projects li a:hover, .blog [role="banner"] a:hover {
  border-color: #403e35;
  color: #403e35;
}

/** 3. HEADINGS ---------- */
/* line 55, ../sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #403e35;
  font-weight: 700;
}

/* line 60, ../sass/_typography.scss */
h1 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 .5em;
}
@media only screen and (min-width: 780px) {
  /* line 60, ../sass/_typography.scss */
  h1 {
    font-size: 2.8em;
    /* 56px */
    letter-spacing: -0.0178em;
    /* 1px */
    line-height: 1.0714;
    /* 60px */
    margin: 0 0 0.4285em;
    /* 24px */
  }
}

/* line 73, ../sass/_typography.scss */
h2 {
  font-size: 1.6em;
  /* 32px */
  letter-spacing: -0.0312em;
  /* 1px */
  line-height: 1.1875;
  /* 38px */
  margin: 0.375em 0;
  /* 12px */
}

/* line 80, ../sass/_typography.scss */
h3 {
  font-size: 1.2em;
  /* 24px */
  line-height: 1.3333;
  /* 32px */
  margin: .5em 0;
  /* 12px */
}

/* line 86, ../sass/_typography.scss */
h4 {
  margin: .6em 0 0.3em;
  /* 12px 0 6px */
}

/* line 90, ../sass/_typography.scss */
h5 {
  font-size: .7em;
  /* 14px */
  line-height: 1.4285;
  /* 20px */
  margin: .8571em 0;
  /* 12px */
  text-transform: uppercase;
}

/* line 97, ../sass/_typography.scss */
h6 {
  color: #5f5c4e;
  font-size: .7em;
  /* 14px */
  line-height: 1.4285;
  /* 20px */
  margin: .8571em 0 .4em;
  /* 12px */
  text-transform: uppercase;
}

/* line 110, ../sass/_typography.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
}

/* line 114, ../sass/_typography.scss */
h4 a {
  color: #403e35;
}

/* line 123, ../sass/_typography.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border: 0;
  color: #000;
}

/* line 128, ../sass/_typography.scss */
h4 a:hover {
  color: #f77916;
}

/** 4. TEXT ---------- */
/* line 134, ../sass/_typography.scss */
p {
  margin: 0 0 .6em;
  /* 0 0 12px */
}

/* line 138, ../sass/_typography.scss */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  clear: both;
  display: block;
  height: 1px;
  margin: 1.5em 0;
  /* 30px */
}

/* line 147, ../sass/_typography.scss */
blockquote {
  border-left: 4px solid #403e35;
  padding: .3em 0 .3em 1.2em;
  /* 6px 0 6px 24px */
  margin: 0 0 1.2em;
  /* 0 0 24px */
}

/* line 154, ../sass/_typography.scss */
blockquote,
q {
  quotes: none;
}

/* line 161, ../sass/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 166, ../sass/_typography.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 170, ../sass/_typography.scss */
q {
  font-style: italic;
}

/* line 174, ../sass/_typography.scss */
cite {
  color: #403e35;
  font-style: italic;
}

/* line 179, ../sass/_typography.scss */
blockquote cite {
  color: #888;
}

/* line 183, ../sass/_typography.scss */
strong {
  color: #403e35;
  font-weight: 700;
}

/* line 189, ../sass/_typography.scss */
em,
dfn {
  color: #403e35;
  font-style: italic;
}

/* line 194, ../sass/_typography.scss */
dfn {
  font-weight: 700;
}

/* line 199, ../sass/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #222;
}

/* line 203, ../sass/_typography.scss */
address {
  display: block;
  font-style: italic;
  margin: 0 0 .6em;
  /* 0 0 12px */
}

/* line 209, ../sass/_typography.scss */
del {
  color: #888;
  text-decoration: line-through;
}

/* line 214, ../sass/_typography.scss */
mark {
  background: #F2594B;
  color: #fff;
  font-weight: 400;
  padding: 0 0.15em;
  /* 3px */
}

/* line 221, ../sass/_typography.scss */
ins {
  background: #B5D5FF;
  padding: 0 0.15em;
  /* 3px */
  text-decoration: none;
}

/* line 227, ../sass/_typography.scss */
pre {
  padding: .6em;
  /* 12px */
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 235, ../sass/_typography.scss */
code {
  margin: .6em 0;
  /* 12px */
}

/* line 243, ../sass/_typography.scss */
pre,
code,
tt,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 248, ../sass/_typography.scss */
sup,
sub {
  line-height: 90%;
}

/* line 252, ../sass/_typography.scss */
sub {
  font-size: smaller;
  vertical-align: sub;
}

/* line 257, ../sass/_typography.scss */
sup {
  font-size: smaller;
  vertical-align: super;
}

/* line 266, ../sass/_typography.scss */
small {
  font-size: 0.7em;
  /* 14px */
}

/* line 270, ../sass/_typography.scss */
kbd {
  background: #ccc;
  border: 1px solid #acacac;
  border-radius: 4px;
  color: #666;
  font: normal normal 0.8em/90% sans-serif;
  /* 16px/90% */
  margin: 0 0.2em;
  /* 0 4px */
  padding: 0.1em 0.3em;
  /* 2px 6px */
}

/* line 280, ../sass/_typography.scss */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 286, ../sass/_typography.scss */
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/** 5. LISTS ---------- */
/* line 295, ../sass/_typography.scss */
li ul,
li ol {
  margin: 0 0 0.6em 1.2em;
  /* 0 0 12px 24px */
}

/* line 300, ../sass/_typography.scss */
ul,
ol {
  list-style: disc inside;
  margin: 0 0 0.6em;
  /* 0 0 12px */
  padding: 0;
}
@media only screen and (min-width: 780px) {
  /* line 300, ../sass/_typography.scss */
  ul,
  ol {
    list-style: disc outside;
  }
}

/* line 310, ../sass/_typography.scss */
ol {
  list-style: decimal inside;
}

/* line 314, ../sass/_typography.scss */
dl {
  margin: 0;
}

/* line 318, ../sass/_typography.scss */
dt {
  color: #403e35;
  font-weight: 700;
}

/* line 323, ../sass/_typography.scss */
dd {
  margin: 0 0 0.6em;
  /* 0 0 12px */
}

/* line 328, ../sass/_typography.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

/** 6. MEDIA ---------- */
/* line 336, ../sass/_typography.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 337, ../sass/_typography.scss */
audio:not([controls]) {
  display: none;
}

/* line 338, ../sass/_typography.scss */
[hidden] {
  display: none;
}

/* line 340, ../sass/_typography.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Fluid images: http://unstoppablerobotninja.com/entry/fluid-images/ */
/* line 349, ../sass/_typography.scss */
img,
object,
embed {
  max-width: 100%;
}

/* Use clearfix on figure */
/* line 354, ../sass/_typography.scss */
figure:before, figure:after {
  content: "";
  display: table;
}

/* line 355, ../sass/_typography.scss */
figure:after {
  clear: both;
}

/* line 356, ../sass/_typography.scss */
figure {
  *zoom: 1;
}

/* line 358, ../sass/_typography.scss */
figure {
  margin: 0 0 .6em;
  /* 0 0 12px */
}

/* line 362, ../sass/_typography.scss */
figure img {
  float: left;
}

/* line 366, ../sass/_typography.scss */
figcaption {
  clear: both;
  color: #666;
}

/** 7. TABLES ---------- */
/* line 373, ../sass/_typography.scss */
table {
  margin: 0 0 .6em;
  /* 0 0 12px */
  width: 100%;
}

/* line 378, ../sass/_typography.scss */
caption {
  font-size: 1.2em;
  /* 24px */
  font-weight: 700;
  line-height: 1.3333;
  /* 32px */
  text-align: left;
}

/* line 385, ../sass/_typography.scss */
tbody {
  border: 0;
}

/* line 389, ../sass/_typography.scss */
tbody th {
  border: 0;
}

/* line 393, ../sass/_typography.scss */
thead th {
  text-align: left;
}

/* line 397, ../sass/_typography.scss */
th {
  font-weight: 700;
  text-align: left;
}

/* line 403, ../sass/_typography.scss */
th,
td {
  padding: 0;
}

/* line 408, ../sass/_typography.scss */
td,
td img {
  vertical-align: top;
}

/* line 412, ../sass/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 3, ../sass/_forms.scss */
fieldset {
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-radius: 3px;
  margin: 0 0 .6em;
  /* 0 0 12px */
  padding: 1.2em;
  /* 24px */
}

/* line 12, ../sass/_forms.scss */
fieldset fieldset {
  margin-bottom: 1.2em;
}

/* line 16, ../sass/_forms.scss */
legend {
  font-size: 1.2em;
  /* 24px */
  font-weight: 700;
  line-height: 1.3333;
  /* 32px */
  margin-left: -0.8em;
  padding: 0 .8em;
}

/* line 24, ../sass/_forms.scss */
label {
  display: block;
  font-weight: 700;
  margin: 0;
}

/* line 32, ../sass/_forms.scss */
input,
textarea,
select {
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 1em;
  /* 20px */
  margin: 0 0 .6em;
  /* 0 0 12px */
  padding: 0.3em;
  /* 6px */
}

/* line 45, ../sass/_forms.scss */
input:focus,
textarea:focus,
select:focus {
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 51, ../sass/_forms.scss */
input[type=radio],
input[type=checkbox] {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/_forms.scss */
button {
  overflow: visible;
  width: auto;
}

/* line 63, ../sass/_forms.scss */
button,
input[type=submit] {
  background: #27a2c4;
  border: 0;
  border-radius: 5px 5px 7px 7px;
  box-shadow: inset 0 0 1px #27a2c4, 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #1D829B;
  color: #FFF;
  cursor: hand;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  /* 20px */
  font-weight: 700;
  margin: 0 0 .6em;
  /* 0 0 12px */
  padding: 0.3em 0.6em;
  /* 6px */
  text-align: center;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  vertical-align: baseline;
}

/* line 88, ../sass/_forms.scss */
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background: #1E94B2;
  box-shadow: inset 0 0 1px #1e94b2, 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}

/* line 95, ../sass/_forms.scss */
button:active,
input[type=submit]:active {
  position: relative;
  top: 1px;
}

/* line 100, ../sass/_forms.scss */
textarea {
  background: #FFF;
  overflow: auto;
}

/* line 105, ../sass/_forms.scss */
optgroup {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
}

/**
 * UI Components
 */
/* Browser Resets */
/* line 5, ../sass/app/components/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 8, ../sass/app/components/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 12, ../sass/app/components/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/app/components/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 14, ../sass/app/components/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 15, ../sass/app/components/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 18, ../sass/app/components/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 19, ../sass/app/components/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 20, ../sass/app/components/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 25, ../sass/app/components/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/**
 * Kollegorna theme
 */
/* line 31, ../sass/app/components/_flexslider.scss */
.flex-control-paging {
  text-align: center;
}
/* line 34, ../sass/app/components/_flexslider.scss */
.flex-control-paging li {
  display: inline-block;
  padding: 20px 10px 0;
}
/* line 39, ../sass/app/components/_flexslider.scss */
.flex-control-paging a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  text-indent: -9999px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 20px;
}
/* line 54, ../sass/app/components/_flexslider.scss */
.flex-control-paging a:hover {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
}
/* line 59, ../sass/app/components/_flexslider.scss */
.flex-control-paging a.flex-active {
  background: rgba(0, 0, 0, 0.4);
}

/**
 * Page regions
 */
/* line 1, ../sass/app/regions/_header.scss */
.header-logo {
  color: #5f5c4e;
  display: block;
  font: italic 900 42px/1 "omnes-pro-i9", "omnes-pro", sans-serif;
  margin: 0 0 15px;
  padding: 20px 5px 0;
  text-align: center;
  text-shadow: 1px 1px 0 #f0e9cd, 2px 2px 0 rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 780px) {
  /* line 1, ../sass/app/regions/_header.scss */
  .header-logo {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    left: 30px;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    text-align: left;
    top: 13px;
  }
}
/* line 21, ../sass/app/regions/_header.scss */
.header-logo span {
  display: inline-block;
}
/* line 25, ../sass/app/regions/_header.scss */
.header-logo span:nth-child(even) {
  opacity: .95;
}

/* line 30, ../sass/app/regions/_header.scss */
.header-logo:hover {
  border: 0;
}

/* line 34, ../sass/app/regions/_header.scss */
.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -20px 20px;
  padding: 0 0 20px;
  position: relative;
}
/* line 40, ../sass/app/regions/_header.scss */
.nav ul {
  list-style: none;
  text-align: center;
}
/* line 45, ../sass/app/regions/_header.scss */
.nav li {
  display: inline-block;
  padding: 0 10px;
}
/* line 50, ../sass/app/regions/_header.scss */
.nav li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #403e35;
  font-size: .7em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 58, ../sass/app/regions/_header.scss */
.nav li a:hover {
  color: #f77916;
}
@media only screen and (min-width: 780px) {
  /* line 34, ../sass/app/regions/_header.scss */
  .nav {
    margin: 0 0 40px;
    padding: 20px 0;
  }
  /* line 66, ../sass/app/regions/_header.scss */
  .nav ul {
    text-align: right;
  }
  /* line 70, ../sass/app/regions/_header.scss */
  .nav li:last-child {
    padding-right: 30px;
  }
}

/* line 2, ../sass/app/regions/_footer.scss */
.footer {
  padding: 2em 0 20px;
}
@media only screen and (min-width: 780px) {
  /* line 2, ../sass/app/regions/_footer.scss */
  .footer {
    padding: 8em 0 2em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 11, ../sass/app/regions/_footer.scss */
  .footer h6 {
    font-size: .9em;
  }
}
/* line 16, ../sass/app/regions/_footer.scss */
.footer ul {
  list-style: none;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  /* line 23, ../sass/app/regions/_footer.scss */
  .footer li {
    float: left;
    width: 50%;
  }
  /* line 28, ../sass/app/regions/_footer.scss */
  .footer li:nth-child(2n+1) {
    clear: both;
  }
  /* line 32, ../sass/app/regions/_footer.scss */
  .footer li li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 39, ../sass/app/regions/_footer.scss */
  .footer li {
    width: 33.333%;
  }
  /* line 43, ../sass/app/regions/_footer.scss */
  .footer li:nth-child(2n+1) {
    clear: none;
  }
  /* line 47, ../sass/app/regions/_footer.scss */
  .footer li:nth-child(3n+1) {
    clear: both;
  }
}
/* line 52, ../sass/app/regions/_footer.scss */
.footer .license {
  margin: 0;
  padding: 2em 0 0;
}

/**
 * Sections
 */
/**
 * Styles for home page
 */
/* line 5, ../sass/app/sections/_home.scss */
.home {
  border: 0;
}

/* line 9, ../sass/app/sections/_home.scss */
.home .nav {
  display: none;
}

/* line 14, ../sass/app/sections/_home.scss */
.logo {
  color: #5f5c4e;
  display: inline-block;
  font: italic 900 48px/1.2 "omnes-pro-i9", "omnes-pro", sans-serif;
  margin: 20px 0 0;
  padding: 0 5px;
  text-shadow: 1px 1px 0 #f0e9cd, 3px 3px 0 rgba(0, 0, 0, 0.3);
}
/* line 22, ../sass/app/sections/_home.scss */
.logo:hover {
  border: 0;
}
@media only screen and (min-width: 768px) {
  /* line 14, ../sass/app/sections/_home.scss */
  .logo {
    font: italic 900 96px/1.2 "omnes-pro-i9", "omnes-pro", sans-serif;
    margin: 80px 0 60px;
  }
}
/* line 31, ../sass/app/sections/_home.scss */
.logo span {
  display: inline-block;
}
/* line 35, ../sass/app/sections/_home.scss */
.logo span:nth-child(even) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

/* line 41, ../sass/app/sections/_home.scss */
.home [role="banner"] {
  margin-bottom: 30px;
  min-height: 500px;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 780px) {
  /* line 41, ../sass/app/sections/_home.scss */
  .home [role="banner"] {
    margin-bottom: 120px;
  }
}
/* line 52, ../sass/app/sections/_home.scss */
.home [role="banner"] ul {
  list-style: none;
}
/* line 56, ../sass/app/sections/_home.scss */
.home [role="banner"] li {
  display: block;
}
/* line 60, ../sass/app/sections/_home.scss */
.home [role="banner"] .skills {
  height: 200px;
  margin: 0 auto 25px;
  position: relative;
  width: 200px;
}
@media only screen and (min-width: 480px) {
  /* line 60, ../sass/app/sections/_home.scss */
  .home [role="banner"] .skills {
    height: 240px;
    width: 240px;
  }
}
@media only screen and (min-width: 780px) {
  /* line 60, ../sass/app/sections/_home.scss */
  .home [role="banner"] .skills {
    height: 320px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 230px;
    width: 320px;
  }
}
/* line 81, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle {
  background: rgba(247, 121, 22, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(247, 121, 22, 0.4);
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 50%;
  line-height: 100%;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px #f77916;
  text-transform: uppercase;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 50%;
}
@media only screen and (min-width: 780px) {
  /* line 81, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle {
    font-size: 18px;
    height: 160px;
    line-height: 160px;
    width: 160px;
  }
}
/* line 109, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle span {
  display: inline-block;
  padding-top: 45%;
}
@media only screen and (min-width: 780px) {
  /* line 109, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle span {
    padding: 0;
  }
}
/* line 119, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle:hover {
  background: rgba(247, 121, 22, 0.9);
  box-shadow: 0 0 10px rgba(247, 121, 22, 0.8);
}
@media only screen and (min-width: 780px) {
  /* line 119, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle:hover {
    height: 170px;
    line-height: 170px;
    width: 170px;
  }
}
/* line 130, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle.design {
  left: 25%;
  top: 15%;
}
@media only screen and (min-width: 780px) {
  /* line 130, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.design {
    left: 80px;
    top: 50px;
  }
  /* line 138, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.design:hover {
    left: 75px;
    top: 45px;
  }
}
/* line 145, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle.technology {
  bottom: 0;
  left: 4.5%;
}
@media only screen and (min-width: 780px) {
  /* line 145, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.technology {
    left: 15px;
  }
  /* line 152, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.technology:hover {
    bottom: -5px;
    left: 10px;
  }
}
/* line 159, ../sass/app/sections/_home.scss */
.home [role="banner"] .circle.strategy {
  bottom: 0;
  right: 4.5%;
}
@media only screen and (min-width: 780px) {
  /* line 159, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.strategy {
    right: 15px;
  }
  /* line 166, ../sass/app/sections/_home.scss */
  .home [role="banner"] .circle.strategy:hover {
    bottom: -5px;
    right: 10px;
  }
}
/* line 173, ../sass/app/sections/_home.scss */
.home [role="banner"] .presentation {
  text-align: left;
}
@media only screen and (min-width: 780px) {
  /* line 173, ../sass/app/sections/_home.scss */
  .home [role="banner"] .presentation {
    padding: 20px 340px 0 0;
  }
}
/* line 180, ../sass/app/sections/_home.scss */
.home [role="banner"] .presentation p:first-child {
  font-size: 1.3em;
}
/* line 184, ../sass/app/sections/_home.scss */
.home [role="banner"] .presentation li {
  margin-bottom: .5em;
}

/* line 196, ../sass/app/sections/_home.scss */
.selected-projects h2 {
  text-align: center;
}
@media only screen and (min-width: 780px) {
  /* line 200, ../sass/app/sections/_home.scss */
  .selected-projects .slides {
    margin: 0 0 20px;
  }
}
/* line 206, ../sass/app/sections/_home.scss */
.selected-projects figure {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
/* line 213, ../sass/app/sections/_home.scss */
.selected-projects figcaption {
  background: rgba(0, 0, 0, 0.87);
  bottom: 0;
  color: #fff;
  display: block;
  margin-right: 20px;
  left: 0;
  opacity: .8;
  padding: 0 10px;
  position: absolute;
  width: 100%;
}
@media only screen and (min-width: 780px) {
  /* line 213, ../sass/app/sections/_home.scss */
  .selected-projects figcaption {
    bottom: 20px;
    display: inline-block;
    left: 20px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 213, ../sass/app/sections/_home.scss */
  .selected-projects figcaption {
    max-width: 50%;
  }
}
/* line 235, ../sass/app/sections/_home.scss */
.selected-projects figcaption span {
  display: inline-block;
  text-indent: -9999px;
}
@media only screen and (min-width: 780px) {
  /* line 235, ../sass/app/sections/_home.scss */
  .selected-projects figcaption span {
    display: inline;
    text-indent: normal;
  }
}
/* line 246, ../sass/app/sections/_home.scss */
.selected-projects img {
  display: block;
}
/* line 250, ../sass/app/sections/_home.scss */
.selected-projects strong {
  color: #fff;
}

/* line 255, ../sass/app/sections/_home.scss */
.home .posts {
  padding-top: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 255, ../sass/app/sections/_home.scss */
  .home .posts {
    padding-top: 80px;
  }
}

/* line 3, ../sass/app/sections/_projects.scss */
.projects .nav-projects a,
.projects .nav-projects a:hover,
.projects .nav-projects a:focus {
  background: #403e35;
  border: 0;
  color: #f0e9cd;
  padding: 0 6px;
}

/* line 10, ../sass/app/sections/_projects.scss */
.projects [role="banner"] {
  margin-bottom: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 10, ../sass/app/sections/_projects.scss */
  .projects [role="banner"] {
    margin-bottom: 40px;
    padding: 60px 0;
  }
}
/* line 20, ../sass/app/sections/_projects.scss */
.projects [role="banner"] h1 {
  font-size: 2em;
  text-transform: uppercase;
}

@media (min-width: 780px) {
  /* line 26, ../sass/app/sections/_projects.scss */
  .our-projects {
    float: left;
    width: 60%;
  }
}
/* line 32, ../sass/app/sections/_projects.scss */
.our-projects ul {
  list-style: none;
}
/* line 36, ../sass/app/sections/_projects.scss */
.our-projects li {
  display: block;
}

/* line 45, ../sass/app/sections/_projects.scss */
.current-projects {
  margin: 0 0 20px;
}
@media (min-width: 780px) {
  /* line 45, ../sass/app/sections/_projects.scss */
  .current-projects {
    float: right;
    margin-bottom: 0;
    width: 34%;
  }
}

/* line 59, ../sass/app/sections/_projects.scss */
.project {
  background: #fff;
  border-bottom: 1px solid #B7B19C;
  border-radius: 4px;
  box-shadow: 0 2px 4px #B7B19C;
  color: #333333;
  margin: 0 -20px 20px;
  padding: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 59, ../sass/app/sections/_projects.scss */
  .project {
    margin: 0 -70px 70px;
    padding: 70px;
  }
}
/* line 75, ../sass/app/sections/_projects.scss */
.project h1 {
  font-size: 1.4em;
}
/* line 79, ../sass/app/sections/_projects.scss */
.project figure {
  margin: -20px -20px 20px;
}
@media (min-width: 992px) {
  /* line 79, ../sass/app/sections/_projects.scss */
  .project figure {
    margin: -70px -70px 70px;
  }
}
/* line 87, ../sass/app/sections/_projects.scss */
.project img {
  border-radius: 4px;
  display: block;
}

/* line 6, ../sass/app/sections/_posts.scss */
.blog .nav-blog a,
.blog .nav-blog a:hover,
.blog .nav-blog a:focus,
.blog-post .nav-blog a,
.blog-post .nav-blog a:hover,
.blog-post .nav-blog a:focus {
  background: #403e35;
  border: 0;
  color: #f0e9cd;
  padding: 0 6px;
}

/* line 13, ../sass/app/sections/_posts.scss */
.blog [role="banner"] {
  margin-bottom: 40px;
}
/* line 18, ../sass/app/sections/_posts.scss */
.blog [role="banner"] h1 {
  font-size: 2em;
  text-transform: uppercase;
}

/* line 31, ../sass/app/sections/_posts.scss */
.blog [role="main"] .summaries {
  background: #fff;
  border-bottom: 1px solid #B7B19C;
  border-radius: 4px;
  box-shadow: 0 2px 4px #B7B19C;
  color: #333;
  padding: 4em 0 0;
  margin: 0 -20px 20px;
  padding: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 31, ../sass/app/sections/_posts.scss */
  .blog [role="main"] .summaries {
    margin: 0 -70px 70px;
    padding: 70px;
  }
}

/* line 53, ../sass/app/sections/_posts.scss */
.post-summary {
  margin: 0 0 15px;
}
@media only screen and (min-width: 780px) {
  /* line 53, ../sass/app/sections/_posts.scss */
  .post-summary {
    margin: 0 0 2em;
  }
}
/* line 60, ../sass/app/sections/_posts.scss */
.post-summary h4 {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  /* line 60, ../sass/app/sections/_posts.scss */
  .post-summary h4 {
    font-size: 1.2em;
    margin-bottom: .15em;
  }
}
/* line 69, ../sass/app/sections/_posts.scss */
.post-summary time {
  color: #777;
}

/* line 74, ../sass/app/sections/_posts.scss */
.post {
  background: #fff;
  border-bottom: 1px solid #B7B19C;
  border-radius: 4px;
  box-shadow: 0 2px 4px #B7B19C;
  color: #333;
  margin: 0 -20px 20px;
  padding: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 74, ../sass/app/sections/_posts.scss */
  .post {
    margin: 0 -70px 70px;
    padding: 70px;
  }
}
/* line 88, ../sass/app/sections/_posts.scss */
.post header {
  margin: 0 0 1em;
}
/* line 92, ../sass/app/sections/_posts.scss */
.post .top-image {
  margin: 0 0 1em;
}
@media only screen and (min-width: 780px) {
  /* line 92, ../sass/app/sections/_posts.scss */
  .post .top-image {
    margin: 0 0 2em;
  }
}
/* line 100, ../sass/app/sections/_posts.scss */
.post .right {
  float: right;
  margin: 0 0 0 2em;
}
/* line 105, ../sass/app/sections/_posts.scss */
.post .clear {
  clear: both;
}
/* line 110, ../sass/app/sections/_posts.scss */
.post .author,
.post time {
  color: #777;
}
/* line 114, ../sass/app/sections/_posts.scss */
.post .author img {
  border-radius: 50%;
}
/* line 118, ../sass/app/sections/_posts.scss */
.post time:before {
  content: " – ";
}
/* line 122, ../sass/app/sections/_posts.scss */
.post #disqus_thread {
  padding-top: 2em;
}

/* line 128, ../sass/app/sections/_posts.scss */
.posts ul {
  list-style: none;
}
/* line 132, ../sass/app/sections/_posts.scss */
.posts li {
  margin: 0 0 .5em;
}
/* line 136, ../sass/app/sections/_posts.scss */
.posts time {
  color: #403e35;
  display: block;
}
@media only screen and (min-width: 780px) {
  /* line 142, ../sass/app/sections/_posts.scss */
  .posts li {
    margin: 0;
  }
  /* line 146, ../sass/app/sections/_posts.scss */
  .posts time {
    display: inline;
  }
  /* line 150, ../sass/app/sections/_posts.scss */
  .posts time:after {
    content: " – ";
  }
}

/* line 3, ../sass/app/sections/_contact.scss */
.contact .nav-contact a,
.contact .nav-contact a:hover,
.contact .nav-contact a:focus {
  background: #403e35;
  border: 0;
  color: #f0e9cd;
  padding: 0 6px;
}

/* line 10, ../sass/app/sections/_contact.scss */
.contact [role="banner"] {
  margin-bottom: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 10, ../sass/app/sections/_contact.scss */
  .contact [role="banner"] {
    margin-bottom: 40px;
  }
}
/* line 18, ../sass/app/sections/_contact.scss */
.contact [role="banner"] h1 {
  font-size: 2em;
  text-transform: uppercase;
}

/* line 28, ../sass/app/sections/_contact.scss */
.colleagues {
  background: #fff;
  border-bottom: 1px solid #B7B19C;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px #b7b19c;
  -moz-box-shadow: 0 2px 4px #b7b19c;
  box-shadow: 0 2px 4px #b7b19c;
  color: #333;
  padding: 4em 0 0;
  margin: 0 -20px 20px;
  padding: 20px;
}
@media only screen and (min-width: 780px) {
  /* line 28, ../sass/app/sections/_contact.scss */
  .colleagues {
    margin: 0 -70px 70px;
    padding: 70px;
  }
}
/* line 43, ../sass/app/sections/_contact.scss */
.colleagues ul {
  list-style: none;
}
@media (min-width: 780px) {
  /* line 49, ../sass/app/sections/_contact.scss */
  .colleagues li {
    float: left;
    width: 50%;
  }
  /* line 54, ../sass/app/sections/_contact.scss */
  .colleagues li:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 60, ../sass/app/sections/_contact.scss */
  .colleagues li {
    width: 33.333%;
  }
  /* line 64, ../sass/app/sections/_contact.scss */
  .colleagues li:nth-child(2n+1) {
    clear: none;
  }
  /* line 68, ../sass/app/sections/_contact.scss */
  .colleagues li:nth-child(3n+1) {
    clear: both;
  }
}
/* line 75, ../sass/app/sections/_contact.scss */
.colleagues h3,
.colleagues h4,
.colleagues dt {
  color: #333;
}
/* line 79, ../sass/app/sections/_contact.scss */
.colleagues dt {
  font-weight: 400;
}

@media only screen and (min-width: 780px) {
  /* line 84, ../sass/app/sections/_contact.scss */
  .map {
    background: #fff;
    border-bottom: 1px solid #B7B19C;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px #b7b19c;
    -moz-box-shadow: 0 2px 4px #b7b19c;
    box-shadow: 0 2px 4px #b7b19c;
    color: #333;
    padding: 4em 0 0;
    margin: 70px -70px 0;
    padding: 70px;
  }
}
