.contact {
  .nav-contact {
    a,
    a:hover,
    a:focus {
      background: $color-heading;
      border: 0;
      color: $color-background;
      padding: 0 6px;
    }
  }
  [role="main"],
  [role="banner"] {
    @extend .wrapper;
  }
  [role="banner"] {
    margin-bottom: 20px;
    h1 {
      font-size: 2em;
      text-transform: uppercase;
    }
    @include respond-to(medium) {
      margin-bottom: 40px;
    }
  }
}

.colleagues {
  @include box;
  ul {
    @extend .clearfix;
    list-style: none;
    @include respond-to(medium) {
      li {
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
          clear: both;
        }
      }
    }
    @include respond-to(large) {
      li {
        width: 33.333%;
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }
  }
  h3,
  h4,
  dt {
    color: $color-black-text;
  }
  dt {
    font-weight: $font-weight-normal;
  }
}

.map {
  @include respond-to(medium) {
    @include border-radius(4px);
    @include box-shadow(0 2px 4px $color-box-shadow);
    background: #fff;
    border-bottom: 1px solid $color-box-shadow;
    color: $color-black-text;
    padding: 4em 0 0;
    margin: 70px -70px 0;
    padding: 70px;
  }
}
