/**
 * Styles for home page
 */

.home .nav {
  display: none;
}

.home [role="banner"] {
  @extend .wrapper;
  margin-bottom: 80px;
  min-height: 500px;
  position: relative;
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    display: block;
  }

  .skills {
    height: 320px;
    position: absolute;
    right: 0;
    top: 170px;
    width: 320px;
  }

  .circle {
    background: rgba(247, 121, 22, .7);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(247, 121, 22, 0.4);
    color: rgba(255, 255, 255, .9);
    display: inline-block;
    font-size: 18px;
    font-weight: $fw_bold;
    height: 160px;
    line-height: 160px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px $link_color;
    text-transform: uppercase;
    width: 160px;
  }

  .circle:hover {
    background: rgba(247, 121, 22, .9);
    box-shadow: 0 0 10px rgba(247, 121, 22, 0.8);
  }

  .circle.design {
    left: 80px;
    top: 50px;
  }

  .circle.technology {
    bottom: 0;
    left: 15px;
  }

  .circle.strategy {
    bottom: 0;
    right: 15px;
  }

  .presentation {
    padding: 20px 340px 0 0;
    text-align: left;

    a {
      @extend .cta;
    }
  }

}

.selected-projects {
  h2 {
    text-align: center;
  }

  .slides {
    margin: 0 0 20px;
  }

  figure {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  figcaption {
    background: rgba(0, 0, 0, .87);
    bottom: 20px;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    left: 20px;
    opacity: .8;
    padding: 0 10px;
    position: absolute;

    @media only screen and (min-width: 1024px) {
      max-width: 50%;
    }
  }

  img {
    display: block;
  }

  strong {
    color: #fff;
  }
}
