/**
 * Styles for home page
 */

.home .nav {
  display: none;
}

.home [role="header"] {
  @extend .wrapper;
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    display: block;
  }
}

/*
[role="main"] {
  @extend .wrapper;
}
*/

.selected-projects {
  h2 {
    text-align: center;
  }

  .slides {
    margin: 0 0 20px;
  }

  img {
    display: block;
    max-width: 900px;
    margin: 0 auto;
  }
}

.colleagues {
  @extend .wrapper;
  padding: 4em 0 0;

  ul {
    @extend .clearfix;
    background: #fff;
    border-bottom: 1px solid #B7B19C;
    border-radius: 4px;
    box-shadow: 0 2px 4px #B7B19C;
    color: #333333;
    list-style: none;
    margin: 0 -70px;
    padding: 70px;
  }

  @media only screen and (min-width: 768px) {
    li {
      float: left;
      width: 50%;
    }

    li:nth-child(2n+1) {
      clear: both;
    }
  }

  @media only screen and (min-width: 1024px) {
    li {
      width: 33.333%;
    }

    li:nth-child(2n+1) {
      clear: none;
    }

    li:nth-child(3n+1) {
      clear: both;
    }
  }

  h3,
  h4,
  dt {
    color: #333;
  }

  dt {
    font-weight: $fw_normal;
  }
}

.home [role="header"] {
  min-height: 500px;
  margin-bottom: 80px;
  position: relative;
}

.skills {
  height: 320px;
  position: absolute;
  right: 0;
  top: 170px;
  width: 320px;
}

.circle {
  background: rgba(247, 121, 22, .7);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(247, 121, 22, 0.4);
  color: rgba(255, 255, 255, .9);
  display: inline-block;
  font-size: 18px;
  font-weight: $fw_bold;
  height: 160px;
  line-height: 160px;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px $link_color;
  text-transform: uppercase;
  width: 160px;
}

.circle:hover {
  background: rgba(247, 121, 22, .9);
  box-shadow: 0 0 10px rgba(247, 121, 22, 0.8);
}

.circle.design {
  left: 80px;
  top: 50px;
}

.circle.technology {
  bottom: 0;
  left: 15px;
}

.circle.strategy {
  bottom: 0;
  right: 15px;
}

.presentation {
  padding: 20px 340px 0 0;
  text-align: left;

  a {
    @extend .cta;
  }
}
