/**
 * Styles for home page
 */

.home {
  border: 0;
  .nav {
    display: none;
  }
}

.logo {
  @include inline-block;
  @include text-shadow(1px 1px 0 #F0E9CD, 3px 3px 0 rgba(0, 0, 0, .3));
  color: $color-text;
  font: italic $font-weight-black 38px/1.2 $font-logo;
  margin: 15px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
  &:hover {
    border: 0;
  }

  span {
    @include inline-block;
    &:nth-child(even) {
      @include opacity(0.95);
    }
  }
  @include respond-to(small) {
    font: italic $font-weight-black 48px/1.2 $font-logo;
  }
  @include respond-to(medium) {
    font: italic $font-weight-black 96px/1.2 $font-logo;
    margin: 67px 0 60px;
  }
}


.home [role="banner"] {
  @extend .wrapper;
  margin-bottom: 30px;
  min-height: 500px;
  position: relative;
  text-align: center;
  @include respond-to(medium) {
    margin-bottom: 120px;
  }

  ul {
    list-style: none;
    li {
      display: block;
    }
  }

  .skills {
    height: 200px;
    margin: 0 auto 25px;
    position: relative;
    width: 200px;

    @include respond-to(smallest) {
      height: 240px;
      width: 240px;
    }

    @include respond-to(medium) {
      height: 320px;
      margin: 0;
      position: absolute;
      right: 0;
      top: 230px;
      width: 320px;
    }
  }

  .circle {
    @include global-transition;
    background: rgba(247, 121, 22, .7);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(247, 121, 22, 0.4);
    color: rgba(255, 255, 255, .9);
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-bold;
    height: 50%;
    line-height: 100%;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px $color-link;
    text-transform: uppercase;
    width: 50%;
    &:hover {
      background: rgba(247, 121, 22, .9);
      box-shadow: 0 0 10px rgba(247, 121, 22, 0.8);
      @include respond-to(medium) {
        height: 170px;
        line-height: 170px;
        width: 170px;
      }
    }
    &.design {
      left: 25%;
      top: 15%;
      @include respond-to(medium) {
        left: 80px;
        top: 50px;
        &:hover {
          left: 75px;
          top: 45px;
        }
      }
    }
    &.technology {
      bottom: 0;
      left: 4.5%;
      @include respond-to(medium) {
        left: 15px;
        &:hover {
          bottom: -5px;
          left: 10px;
        }
      }
    }
    &.strategy {
      bottom: 0;
      right: 4.5%;
      @include respond-to(medium) {
        right: 15px;
        &:hover {
          bottom: -5px;
          right: 10px;
        }
      }
    }

    @include respond-to(medium) {
      font-size: 18px;
      height: 160px;
      line-height: 160px;
      width: 160px;
    }

    span {
      @include inline-block;
      padding-top: 45%;

      @include respond-to(medium) {
        padding: 0;
      }
    }
  }

  .presentation {
    text-align: left;

    @include respond-to(medium) {
      padding: 20px 340px 0 0;
    }

    p:first-child {
      font-size: 1.3em;
    }

    li {
      margin-bottom: .5em;
      a {
        @extend .cta;
      }
    }
  }

}

.selected-projects {
  h2 {
    text-align: center;
  }

  .slides {
    @include respond-to(medium) {
      margin: 0 0 20px;
    }
  }

  figure {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  figcaption {
    background: rgba(0, 0, 0, .87);
    bottom: 0;
    color: #fff;
    display: block;
    margin-right: 20px;
    left: 0;
    opacity: .8;
    padding: 0 10px;
    position: absolute;
    width: 100%;

    @include respond-to(medium) {
      bottom: 20px;
      display: inline-block;
      left: 20px;
    }

    @include respond-to(large) {
      max-width: 50%;
    }

    span {
      display: inline-block;
      text-indent: -9999px;

      @include respond-to(medium) {
        display: inline;
        text-indent: normal;
      }
    }
  }

  img {
    display: block;
  }

  strong {
    color: #fff;
  }
}

.home .posts {
  @extend .wrapper;
  padding-top: 20px;
  @include respond-to(medium) {
    padding-top: 80px;
  }
}
