.blog,
.blog-post { 
  .nav-blog {
    a,
    a:hover,
    a:focus {
      background: $color-heading;
      border: 0;
      color: $color-background;
      padding: 4px 6px 2px;
    }
  }
}

.blog [role="banner"],
.blog [role="main"],
.blog-post [role="main"] {
  @extend .wrapper;
}

.blog {
  [role="banner"] {
    margin-bottom: 40px;

    h1 {
      font-size: 2em;
      text-transform: uppercase;
    }

    a {
      @extend .cta;
    }
  }

  [role="main"] .summaries {
    @include box;
  }
}

.post-summary {
  margin: 0 0 15px;
  @include respond-to(medium) {
    margin: 0 0 2em;
  }

  h4 {
    margin: 0;
    @include respond-to(max-width-medium) {
      font-size: 1.2em;
      margin-bottom: .15em;
    }
  }

  time {
    color: #777;
  }
}

.post {
  @include box;
  header {
    margin: 0 0 1em;
  }
  .top-image {
    margin: 0 0 1em;
    @include respond-to(medium) {
      margin: 0 0 2em;
    }
  }
  .right {
    float: right;
    margin: 0 0 0 2em;
  }
  .clear {
    clear: both;
  }
  .author,
  time {
    color: #777;
  }
  .author img {
    border-radius: 50%;
  }
  time:before {
    content: " – ";
  }
  #disqus_thread {
    padding-top: 2em;
  }
}

.posts {
  ul {
    list-style: none;
    li {
      margin: 0 0 .5em;
    }
    time {
      color: $color-heading;
      display: block;
    }
    @include respond-to(medium) {
      li {
        margin: 0;
      }
      time {
        display: inline;
        &:after {
          content: " – ";
        }
      }
    }
  }
}
