.blog-post .nav-blog a,
.blog-post .nav-blog a:hover,
.blog-post .nav-blog a:focus {
  background: $heading_color;
  border: 0;
  color: $bg_color;
  padding: 0 6px;
}


.blog-post [role="main"] {
  @extend .wrapper;
}

.post {
  background: #fff;
  border-bottom: 1px solid #B7B19C;
  border-radius: 4px;
  box-shadow: 0 2px 4px #B7B19C;
  color: #333;
  padding: 4em 0 0;
  margin: 0 -70px 70px;
  padding: 70px;
}

.posts {

  ul {
    list-style: none;
  }
}
