.projects [role="header"] {
  @extend .wrapper;
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }
}

.project {
  @extend .wrapper;

  figure {
    @media only screen and (min-width: 1024px) {
      margin: 0 -100px;
    }
  }

}
