.projects .nav-projects a,
.projects .nav-projects a:hover,
.projects .nav-projects a:focus {
  background: $heading_color;
  border: 0;
  color: $bg_color;
  padding: 0 6px;
}

.projects [role="banner"] {
  @extend .clearfix;
  @extend .wrapper;

  margin-bottom: 40px;
  padding: 60px 0;

  h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
}

.our-projects {
  @media only screen and (min-width: 768px) {
    float: left;
    width: 60%;
  }

  ul {
    list-style: none;
  }

  li {
    display: block;
  }

  li a {
    @extend .cta;
  }
}

.current-projects {
  @media only screen and (min-width: 768px) {
    float: right;
    width: 34%;
  }
}

.projects [role="main"] {
  @extend .wrapper;
}

.project {
  @extend .clearfix;

  background: #fff;
  border-bottom: 1px solid #B7B19C;
  border-radius: 4px;
  box-shadow: 0 2px 4px #B7B19C;
  color: #333333;
  margin: 0 -70px 70px;
  padding: 70px;

  figure {
    @media only screen and (min-width: 1024px) {
      margin: -70px -70px 70px;
    }
  }

  img {
    border-radius: 4px;
    display: block;
  }

}
