.projects {
  .nav-projects {
    a,
    a:hover,
    a:focus {
      background: $color-heading;
      border: 0;
      color: $color-background;
      padding: 0 6px;
    }
  }

  [role="banner"],
  [role="main"] {
    @extend .wrapper;
  }

  [role="banner"] {
    @extend .clearfix;
    margin-bottom: 20px;
    @include respond-to(medium) {
      margin-bottom: 40px;
      padding: 60px 0;
    }

    h1 {
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}

.our-projects {
  @include respond-to(medium) {
    float: left;
    width: 60%;
  }

  ul {
    list-style: none;
    li {
      display: block;
      a {
        @extend .cta;
      }
    }
  }
}

.current-projects {
  margin: 0 0 20px;
  @include respond-to(medium) {
    float: right;
    margin-bottom: 0;
    width: 34%;
  }
}

.project {
  @extend .clearfix;
  @include box;

  h1 {
    font-size: 1.4em;
  }

  figure {
    margin: -20px -20px 20px;
    @include respond-to(large) {
      margin: -70px -70px 70px;
    }
  }

  img {
    border-radius: 4px;
    display: block;
  }
}
