<nav class="nav-toggle">
  <div class="nav-toggle-background"></div>
  <div class="nav-toggle-button nav-toggle-button--inactive"><i class="icon-menu"></i></div>
</nav>
<!-- / .nav -->

<div class="nav">
  <div class="nav-close"><i class="icon-cancel"></i></div>
  <div class="nav-content">
    <div class="nav-links">
      <ul>
        <li><a href="/"><span>Hem</span></a></li>
        <li><a href="/blogg"><span>Blogg</span></a></li>
        <li><a href="/projekt"><span>Projekt</span></a></li>
        <li><a href="/om"><span>Om oss</span></a></li>
        <li><a href="/kontakta"><span>Kontakta</span></a></li>
        <li><a href="http://labs.kollegorna.se"><span>Labs</span></a></li>
      </ul>
    </div>
  </div>
  <!-- / .nav-content -->
</div>
<!-- / .nav -->
