<nav role="navigation" class="popover">
  <h1 class="logo logo--navigation"><span class="char1">K</span></h1>
  <div class="navigation__bar">
    <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"></span>
  <div>

  <div class="navigation">
    <ul>
      <li><span>Startsidan</span><a href="/" class="home" title="Hem">Hem</a></li>
      <li><span>Saker vi skriver</span><a href="/blogg" class="blog" title="blogg">Blogg</a></li>
      <li><span>Saker vi arbetar med</span><a href="/projekt" class="projects" title="Projekt">Projekt</a></li>
      <li><span>Vi som jobbar här</span><a href="/om" class="about" title="Om oss">Om oss</a></li>
      <li><span>Adresser, e-postadresser, telefon</span><a href="/kontakt" class="contact" title="Kontakt">Kontakt</a></li>
      <li><span>Experiment</span><a href="/labb" class="labb" title="Labb">Labb</a></li>
    </ul>
  </div>

</nav>
