  <footer class="footer" role="contentinfo">
    <ul class="l-up-5-columns footer-columns">
      <li class="l-column">
        <ul class="unstyled">
          <li><a class="t-heavy" href="/">Hem</a>
          <li><a class="t-heavy" href="/blogg">Blogg</a>
          <li><a class="t-heavy" href="/projekt">Projekt &amp; uppdrag</a></li>
          <li><a class="t-heavy" href="/om">Om oss</a>
          <li><a class="t-heavy" href="/kontakta">Kontakta</a></li>
        </ul>
      </li>
      <li class="l-column">
        <h6>Stockholm</h6>
        <p><a href="https://www.google.se/maps/place/Wallingatan+37/@59.3359969,18.0514584,17z/data=!3m1!4b1!4m2!3m1!1s0x465f9d6416a4ac79:0x135fa6dcd4a0e40">Wallingatan 37</a></p>

        <h6>Valencia</h6>
        <p><a href="https://www.google.se/maps/place/Carrer+del+Governador+Vell,+29/@39.47601,-0.37099,17z/data=!3m1!4b1!4m2!3m1!1s0xd6048adf1841a3b:0xfc3f55cfc785154e">Gobernador Viejo 29</a></p>
      </li>
      <li class="l-column">
        <h6>Mail &amp; Telefon</h6>
        <p><a href="mailto:hej@kollegorna.se">hej@kollegorna.se</a><br>
          <a class="call-call" href="callto:+46702420750">070 – 242 07 50</a> <span class="call-me-maybe"><strong>&larr;</strong> Per</span><br>
          <a class="call-call" href="callto:+46735052929">073 – 505 29 29</a> <span class="call-me-maybe"><strong>&larr;</strong> Henrik</span><br>
          <a class="call-call" href="callto:+46736951092">073 – 695 10 92</a> <span class="call-me-maybe"><strong>&larr;</strong> Samuel</span><br>
        </p>
      </li>
      <li class="l-column">
        <h6>Labb</h6>
        <p>Open source-projekt samt design- och teknikblogg. <a href="http://labs.kollegorna.se">Till labbet</a>.</p>
      </li>
      <li class="l-column">
        <h6>Vi ses också på</h6>
        <ul class="unstyled">
          <li><a href="http://twitter.com/kollegorna">Twitter</a></li>
          <li><a href="http://github.com/kollegorna">GitHub</a></li>
          <li><a href="http://instagram.com/kollegorna">Instagram</a></li>
          <li><a href="http://facebook.com/kollegorna">Facebook</a></li>
        </ul>
      </li>
    </ul>

    <p class="footer__license t-center">
      Allt innehåll är licenserat med <a rel="license" href="http://creativecommons.org/licenses/by/2.5/se/deed.en_US">Creative Commons Attribution 2.5</a>.
      Källkod på <a href="https://github.com/kollegorna/kollegorna.se">GitHub</a>.
    </p>
  </footer>

  <div class="footer-border"></div>

  {% javascript app %}
  <script src="http://rawgit.com/DaveAtDog/boyega/master/js/boyega.js"></script>
</body>
</html>
