  <footer class="footer" role="contentinfo">
    <ul>
      <li class="vcard">
        <h6>Adress</h6>
        <address class="adr">
          <a class="url fn org" href="http://www.kollegorna.se/">Kollegorna AB</a><br />
          <span class="extended-address">Wallingatan 37</span><br />
          <span class="postal-code">111 24</span> <span class="locality">Stockholm</span><br />
          <a href="/kontakta/#map">Karta</a><br />
        </address>
      </li>
      <li>
        <h6>Mail</h6>
        <p><a href="mailto:hej@kollegorna.se">hej@kollegorna.se</a></p>
        <h6>Telefon</h6>
        <p>
          <a class="call-call" href="callto:+46702420750">070 – 242 07 50</a> <span class="call-me-maybe"><strong>&larr;</strong> Per</span><br>
          <a class="call-call" href="callto:+46735052929">073 – 505 29 29</a> <span class="call-me-maybe"><strong>&larr;</strong> Henrik</span><br>
        </p>
      </li>
      <li>
        <h6>Vi ses också på</h6>
        <ul>
          <li><a href="http://twitter.com/kollegorna">Twitter</a></li>
          <li><a href="http://github.com/kollegorna">GitHub</a></li>
          <li><a href="http://instagram.com/kollegorna">Instagram</a></li>
          <li><a href="http://facebook.com/kollegorna">Facebook</a></li>
        </ul>
      </li>
    </ul>

    <p class="license">
      Allt innehåll är licenserat med <a rel="license" href="http://creativecommons.org/licenses/by/2.5/se/deed.en_US">Creative Commons Attribution 2.5</a>. Källkod på <a href="https://github.com/kollegorna/kollegorna.se">GitHub</a>.
    </p>
  </footer>

  <div class="footer-border"></div>

  {% javascript app %}
</body>
</html>
