---
title: BG Play – case study | Kollegorna
description: "Plattform för webb-TV inom juridik. På BG Play ger Sveriges främsta experter dig aktuella nyheter och vidareutbildning för olika områden inom juridiken."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">BG Play</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://www.bgplay.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>En en playtjänst för juridik från Blendow Group för webb-TV och utbildningsprogram som de själva producerar. Tjänsten består av publikt innehåll som Veckans Juridik samt Blendow Lexnova Expertnyheter för betalande prenumeranter. Vem som helst kan är välkommen att registrera ett konto på tjänsten. Som ny användare får du tillgång till en del av utbudet av Blendow Lexnova Expertnyheter under en begränsad tid. För att få tillgång till det du behöver finns olika paket uppdelat på olika rättsområden.</p>

      <h3>Favoriter, historik och sektionsindelning</h3>
      <p>Som inloggad användare kan du spara videor som favoriter. Dessutom håller tjänsten koll på hur långt du sett i varje video. Till längre videos finns i vissa fall även en sektionsuppdelning där användaren enkelt kan välja att se de delar som är relevanta.</p>

      <h3>Tester för professionell vidareutbildning</h3>
      <p>Som advokat kan man i samband med vissa av videoklippen från Blendow Lexnova Expertnyheter genomgå ett test. Om man klarar testet får man tillgodoräkna sig en viss mängd tid för den <a href="https://www.advokatsamfundet.se/Advokatnatet/Advokatverksamheten/Professionell-vidareutbildning/">årliga professionella vidareutbildningen</a> för advokater.
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="http://www.blendow.se">Blendow Group</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
          <li>ElasticSearch</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mailchimp</li>
          <li>Mandrill</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="http://placekitten.com/g/1200/600">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="http://placekitten.com/g/1200/900">
          <figcaption>
            Användarna kan spara favoriter.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid"><iframe src="https://player.vimeo.com/video/119757512?title=0&byline=0&portrait=0" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/kollegorna/status/644887451031445504"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/mattiasronge/status/633323160977440768"></div>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <div class="case__media__stats">
          <div class="case__media__stats__figure">
           47%
          </div>
          <div class="case__media__stats__caption">
            <hr class="hr-gradient">
            Fler besökare i jämförelse med perioden juni - september i fjol.
          </div>
        </div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="http://placekitten.com/g/1200/900">
          <figcaption>
            Långa avsnitt är indelade i sektioner så att videon ska startas där det är relevant för användaren.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="http://placekitten.com/g/1200/900">
          <figcaption>
            Tjänsten håller koll på hur långt en tittat på en video.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <figure class="polaroid"><img src="http://placekitten.com/g/1200/900"></figure>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <figure class="polaroid"><img src="http://placekitten.com/g/1200/900"></figure>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <figure class="polaroid"><img src="http://placekitten.com/g/1200/900"></figure>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <figure class="polaroid"><img src="http://placekitten.com/g/1200/900"></figure>
      </div>
    </div>

    <div class="case__media__item">
      <div class="case__media__object">
        <div class="case__media__stats">
          <div class="case__media__stats__figure">
           6:27
          </div>
          <div class="case__media__stats__caption">
            <hr class="hr-gradient">
            Besökstiden har förlängts med nästan två minuter efter att vi lanserade nya sajten.
          </div>
        </div>
      </div>
    </div>

    <div class="case__media__item case__media__item--medium">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="http://placekitten.com/g/1200/900">

          <figcaption>
            Mixpanel används för att analyseras hur tjänsten används.
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
