---
title: Blendow.se och bgpublishing.se – case study | Kollegorna
description: "Blendow Group behövde en enkel lösning för sina företagswebbplatser som de kunde uppdatera utan ett CMS."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Blendow.se och bgpublishing.se</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="http://www.blendow.se">blendow.se</a>
    <a class="button button--primary" href="http://www.bgpublishing.se">bgpublishing.se</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Blendow Group behövde nya webbplatser för blendow.se och bgpublishing.se. Sajterna uppdateras väldigt sällan vilket ledde till att vi inte behövde integrera något CMS utan istället kunde lägga resurserna på design och frontend. Båda sajterna är byggda med Jekyll och driftas på GitHub pages. Då Blendow har grundläggande kompetens av HTML internt kan man själv enkelt ändra innehållet direkt via GitHubs gränssnitt i webbläsaren. Respektive webbplats uppdateras sedan automatiskt. </p>

      <p>Vi har gjort en liknande lösning för oss själva och <a href="https://github.com/kollegorna/kollegorna.se">kollegorna.se</a> fast där vi använder <a href="https://labs.kollegorna.se/blog/2015/08/middleman-codeship/">Middleman och tar hjälp av Codeship</a> för att rulla ut ändringar automatiskt.</p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="http://www.blendow.se">Blendow Group</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Jekyll</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>GitHub Pages</li>
          <li>Google Analytics</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/blendow-bgpublishing/blendow-group.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/kollegorna/status/596593484745863168"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/blendow-bgpublishing/bgpublishing.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/kollegorna/status/598059635170488320"></div>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
