---
title: Dina Risker – case study | Kollegorna
description: "Hur bra är du på att bedöma risker? Dina Risker är ett riskbedömningsspel från Dina Försäkringar som vi byggt tillsammans med våra vänner på Edelman Deportivo."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Dina Risker</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="http://risker.dina.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Hur bra är du på att bedöma risker? Den frågan ville Dina Försäkringar hjälpa folk att besvara. Edelman Deportivo tog fram koncept och design som vi implementerade. Resultatet blev spelet Dina Risker. Spelaren får här under tidspress jämföra olika risker, som slumpas fram, mot varandra för att sedan få ett omdöme om ens riskbedömningsförmåga.</p>

      <p>Efter att spelet avslutats får spelaren en unik länk med sitt resultat att dela/skryta med i sociala medier samt möjligheten att läsa och lära sig mer om de olika riskerna hen nyss bedömt.</p>

      <p>
        <a href="http://feber.se/webb/art/332921/dina_frskringar_slpper_riskbed/">Feber.se: Dina Försäkringar släpper riskbedömningsspel</a>
      </p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <ul>
          <li><a href="http://www.edelmandeportivo.com">Edelman Deportivo</a></li>
          <li><a href="http://www.dina.se">Dina Försäkringar</a></li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>GreenSock</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/dina-risker/desktop-1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/dina-risker/desktop-2.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/dina-risker/desktop-3.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/dina-risker/desktop-4.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/dina-risker/dashboard.png" alt="Dashboard med statistik">

          <figcaption>
            Adminverktyg som ger en översikt av statistik samt möjlighet att hantera innehållet.
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
