---
title: GPX.io – case study | Kollegorna
description: "Gjort en bra runda? Rama in den snyggt. GPX.io är en karttjänst där det går att ladda upp löpturer (eller vad som helst) som en vill skryta om."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">GPX.io</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="http://www.gpx.io">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Vi älskar löpning. Det kan vara ett par kilometer, en halvmaraton eller ett ultralopp. Tjänster som Runkeeper, Strava och Nike+ hjälper oss att hålla koll på våra aktiviteter och utveckling. Men när det gäller att på ett snyggt och pedagogiskt sätt visa upp en runda på en karta så räcker de inte enda fram.</p>

      <p>När du har sprungit en maraton, satt ett nytt personbästa eller någonting annat du vill visa upp på ett fint sätt (eller bara skryta om…) ladda då upp din GPX-data och låt oss göra resten!</p>

      <p>Du inte ut och ramar in alla foton du tar – men du gör det med dom som betyder mest. <a href="http://gpx.io">GPX.io</a> hjälper dig att rama in dina mest betydelsefulla aktiviteter. T.ex. <a href="http://gpx.io/a/vbwt">din insats i Stockholm Marathon 2015</a>.</p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p>Eget projekt</p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Mapbox</li>
          <li>Facebook Comments</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Google Analytics</li>
          <li>Mixpanel</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/gpx-io/desktop-3.jpg" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/gpx-io/desktop-1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/kollegorna/status/604586446058602500"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/gpx-io/desktop-2.png" alt="">
        </figure>
      </div>
    </div>



    <!--<div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid">
          <div class="pretty-embed"
            data-pe-videoid="Cbti19KM3wk"
            data-pe-showControls="false"
            data-pe-fitvids="true"></div>
        </div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid">
          <div class="pretty-embed"
            data-pe-videoid="Cbti19KM3wk"
            data-pe-showControls="false"
            data-pe-fitvids="true"></div>
        </div>
      </div>
    </div>-->
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
