---
title: Utvalda case | Kollegorna
description: ""
---

<article class="page case-studies" role="main">
  <h1 class="t-center">Utvalda case</h1>

  <hr class="hr-gradient hr-gradient--small">

  <p class="t-lead case-studies__intro">
    Vi älskar det vi gör och är noga med att ta oss an jobb vi känner stort engagemang för.<br>Här är resultatet av blod, svett och kärlek.
  </p>

  <%= partial "case_studies_featured" %>
  <%= partial "case_studies" %>

</article>
