---
title: Utvalda case | Kollegorna
description: ""
---

<article class="page case-studies" role="main">
  <h1 class="t-center">Utvalda case</h1>

  <hr class="hr-gradient hr-gradient--small">

  <p class="t-lead case-studies__intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mollis metus. Fusce augue lacus, rhoncus quis dui ut, aliquam sollicitudin lorem. Fusce ut mattis tellus. Nullam ex orci, vehicula vitae dolor in, dictum suscipit mauris.
  </p>

  <%= partial "case_studies_featured" %>
  <%= partial "case_studies" %>

</article>
