---
title: The Kong Initiative – case study | Kollegorna
description: "There's no business like snow business. The Kong Initiative är ett sidoprojekt vi driver där vi säljer stora snowboards till hela Europa."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">The Kong Initiative</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="http://www.konginitiative.com">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Vid någon mörk tidpunkt under de två senaste decennierna tog hobbitar över snowboardvärlden. Det finns en uppsjö av olika brädmärken och modeller på marknaden. Men bara för de som har små och nätta fötter. Enbart ett fåtal tillverkare gör brädor som passar storfotade åkare. I Europa har det i stort sett varit omöjligt att lägga sina XXL-stora vantar på dessa eftersom i stort sett ingen har dem i lager.</p>

      <p>The Kong Initiative vill ändra på det. Vi har valt att specialisera oss enbart på de bredaste brädorna på marknaden. De som en trånar efter men som är väldigt sällsynta att hitta i vanliga butiker.</p>

      <p>Genom att ha lyckats tygla den logistiska potentialen i det majestätiska apdjur som gorillan är ser vi till att du får en bräda i den storlek du förtjänar.</p>

      <p>Shopen drivs på Tictail och vi har valt att <a href="https://labs.kollegorna.se/blog/2015/03/kong-tictail-theme/">publicera hela vår lösning</a> som öppen källkod. Vi gjorde även <a href="https://labs.kollegorna.se/blog/2015/03/tictail-prisjakt-pricerunner/">integrationer med Pricerunner och Prisjakt</a>.</p>

      <p><a href="https://www.kollegorna.se/blogg/2015/03/kong-initiative/">There's no business like snow business - Kollegorna leker affär</a></p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p>Eget projekt</p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Tictail</li>
          <li>Mailchimp</li>
          <li>Google Analytics</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/kong/desktop-1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/kong/desktop-2.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/kong/desktop-3.png" alt="">
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
