---
title: Medievärlden Premium – case study | Kollegorna
description: "Rapporter, analyser och insikter om medier nu och i framtiden. Medievärlden Premium är en prenumerationstjänst för dig som behöver bättre beslutsunderlag och vill höja din kompetens i avgörande framtidsfrågor."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Medievärlden Premium</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://premium.medievarlden.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">

    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="http://www.medievarlden.se">Medievärlden</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
          <li>Highcharts.js</li>
          <li>ElasticSearch</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Mailchimp</li>
          <li>Google Analytics</li>
          <li>Mixpanel</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <div class="polaroid"><iframe src="https://player.vimeo.com/video/119757512?title=0&byline=0&portrait=0" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
