---
title: Ö till Ö – case study | Kollegorna
description: "Snygg statistik i realtid för livesändningen. Videotrollkarlarna på FKDV behövde ett verktyg som hämtade realtidsdata från tidtagningssystemet och skapade snygga inforutor som de kunde lyfta in i livesändningen från Ö till Ö."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Ö till Ö</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="http://www.otilloswimrun.se/">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Videotrollkarlarna på FKDV hade fått uppdraget att livesända världsmästerskapet i swimrun: Ö till Ö. För att höja upplevelsen för tittarna ville man få in realtidsdata om de deltagande lagen från tidtagningssystemet och visa direkt i sändningen. Vi byggde en tjänst som hämtade data och visade upp den på en green screen-sajt (bokstavligen) som sedan brändes in direkt på videostreamen som gick ut på YouTube. Med hjälp av ett enkelt admininstrationsverktyg kunde producenterna välja vilken data som skulle visas beroende på vad som var i bild.</p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <ul>
          <li><a href="http://www.fkdv.se">FKDV</a></li>
          <li><a href="http://www.otilloswimrun.se/">Ö till Ö</a></li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Node.js</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/otillo/youtube.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/otillo/fullscreen.jpeg" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/kollegorna/status/640784272731803648"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/otillo/leaderboard.jpeg" alt="">
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
