---
title: Vembi – case study | Kollegorna
description: "Vembi har ett unikt och högkvalitativt register över ägare av svenska onoterade aktiebolag är man en av Sveriges mest spännande nya startups inom fintech. Här hittar du direkt ägarinformation till mer än 30 000 företag samt kan se vilka som kontrollerar över 70 000 svenska onoterade aktiebolag."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">Vembi</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://www.vembi.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
    <p>Vembi är en svensk startup inom fintech som tillhandahåller unik ägarinformation för svenska onoterade aktiebolag. Här hittar du direkt ägarinformation till mer än 30 000 företag samt kan se vilka som kontrollerar över 70 000 svenska onoterade aktiebolag.</p>

    <p>På företags- och personsidorna får du på ett snabbt och överskådligt sätt översikt av ägardata och bolagsengagemang. Det går även att se koncernträd samt ett nätverk som visualiserar kopplingar mellan personer och företag. Genom att följa de företag och personer som är extra intressanta så blir du notifierad när ägarförhållanden ändras samt får en översikt av alla dessa händelser på din personliga dashboard.</p>

    <p>För att använda tjänsten krävs en prenumeration. Företag kan köpa tillgång för mer än en användare och kan själva hantera sina användarkonton direkt inne i tjänsten.</p>

    <p>Vi har stått för den fullständiga lösningen – strategi, identitet, design och teknik.</p>

    <p>
      <a href="/blogg/2016/03/vembi/">Bloggpost: Lansering av Vembi</a><br>
      <a href="http://www.breakit.se/artikel/3058/vem-ager-vad-och-hur-mycket-i-ett-bolag-vembi-vill-guida-dig">Breakit: Vem äger vad och hur mycket i ett bolag? Vembi vill guida dig</a>

    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="https://www.vembi.se">Vembi Ägarinformation AB</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
          <li>ElasticSearch</li>
          <li>D3.js</li>
          <li>Chart.js</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/start.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/VembiAB/status/641349729297633280"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/dashboard.png" alt="">
          <figcaption>
            Översikt av de bolag och personer som du följer.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/stena-sessan-01.png" alt="">
          <figcaption>
            Detaljerad överblick om ägarförhållandena inom företaget.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid"><iframe src="https://player.vimeo.com/video/157131115" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/stena-sessan-03.png" alt="">
          <figcaption>
            Förstå hur företagskoncerner är uppbyggda.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid"><iframe src="https://player.vimeo.com/video/157131117" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/stena-sessan-04.png" alt="">
          <figcaption>
            Se kopplingar mellan personer och företag.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/stena-sessan-05.png" alt="">
          <figcaption>
            Utforska dig vidare genom att använda nätverksgrafen.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="polaroid"><iframe src="https://player.vimeo.com/video/157171432" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/search.png" alt="">
          <figcaption>
            Sök och filtrera på bolag och personer.
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/about.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/VembiAB/status/714673795110449152"></div>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/vembi/kollegorna.png" alt="">
          <figcaption>
            Översikt av vår egen bolagssida.
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
