---
title: WaterAid gåvoshop – case study | Kollegorna
description: "Rädda liv genom att donera pengar. Som tack får du ett tryckt kort eller ett digitalt att skicka till familj, vänner eller bekanta."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">WaterAid gåvoshop</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://gavoshop.wateraid.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>WaterAid är en internationell oberoende organisation som jobbar för att förändra människors liv genom att förbättra tillgången till rent vatten, bättre hygien och sanitet i världens fattigaste samhällen.  Till julen 2014 gjorde vi en gåvoshop baserat på en kampanj och ett manér ("Varje droppe räknas") framtaget av reklambyrån <a href="http://www.ruth.se">Ruth</a>. Här kan privatpersoner och företag stödja WaterAids arbete för att öka tillgången till rent vatten världen över.</p>

      <h3>Ge vattendroppar och få ett gåvobevis</h3>
      <p>Du väljer själv hur många vattendroppar du vill ge och som tack för din gåva får du ett gåvobevis att ge bort i present till vänner och bekanta eller kunder och medarbetare. Om du väljer att få gåvobeviset digitalt skriver du en hälsning och kan ladda upp en bild. Det digitala gåvobeviset skapas då som en länk som du antingen skickar direkt till dig själv eller väljer ett datum när vi du vill ha det skickat till dess mottagare. Företag och organisationer som skänker pengar får även ett digitalt julpaket med bl.a. en badge, banners och diplom. Det går även bra att beställa tryckta gåvobevis som skickas per post om man föredrar det.</p>

      <h3>Betalning och orderhantering</h3>
      <p>Privatpersoner betalar med kreditkort. Betalningen görs med amerikanska Stripe. Stripe är en fröjd att integrera och i dess administrationsverktyg sköts enkelt allt som har med betalningarna att göra. En fin detalj i betalningsflödet är möjligheten för iOS-användare att kunna scanna sitt kreditkort med kameran för enklare inmatning av kreditkortsuppgifterna. Företag och organisationer kan även betala mot rekvisition.</p>
      <p>Efter genomförd order kan användaren logga in och få en översikt av samtliga gjorda ordrar. För att ge bästa möjliga service samt minimera administration är det även möjligt att redigera digitala gåvobevis fram till dess att de skickats ut.</p>
      <p>På en dashboard i gåvoshopens administrationssystem kan WaterAid följa ordrar och försäljning. Här sköter man även exporten av ordrar till ett eget CRM-system för vidare hantering.</p>

      <p>Utöver gåvoshopen har vi åt WaterAid även gjort en <a href="/case/wateraid-manadsgivare">lösning för månadsgivare</a>.</p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="http://www.wateraid.se">WaterAid</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Stripe</li>
          <li>Google Analytics</li>
          <li>Mixpanel</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/wateraid-gavoshop/desktop-1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/wateraid-gavoshop/desktop-2.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--full">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/wateraid-gavoshop/desktop-3.png" alt="">
        </figure>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
