---
title: WaterAid månadsgivare – case study | Kollegorna
description: "Rädda liv – bli månadsgivare! Ge en fast summa varje månad via autogiro. Enkelt att ordna genom att signera med Bank ID."
---

<article role="main" class="case">
  <header class="case__header">
    <h1 property="name">WaterAid månadsgivare</h1>

    <hr class="hr-gradient hr-gradient--small">
  </header>

  <div class="case__cta">
    <a class="button button--primary" href="https://manadsgivare.wateraid.se">Besök</a>
  </div>

  <section class="case__content">
    <div class="case__description">
      <p>Efter att ha gjort WaterAids gåvoshop har vi även gjort en lösning för att få in månadsgivare. Medans gåvoshopen handlar om att ge en gåva vid eller eller flera tillfällen se ger månadsgivare en summa löpande varje månad via autogiro. För att underlätta hanteringen för WaterAid samt göra det enklare för givarna integrerade vi själva avtalssigneringen med Egree. Detta gör att användaren kan signera avtalet omedelbart med Bank ID varpå WaterAid kan sätta upp autogiroöverföringen direkt utan att behöva skicka hem ett avtal att skriva under till givaren.</p>

      <p>För att ytterligare underlätta för användaren har vi även integrerat Kommeds API för personuppgifter. Detta gör att en bara behöver fylla i sitt personnummer för att hämta namn och adress.</p>

      <p>Alla månadsgivaranmälningar samlas sedan i ett administrationsverktyg som WaterAid därefter kan exportera datan ifrån till det interna CRM som används.</p>

      <p>Vi har även byggt <a href="/case/wateraid-gavoshop">WaterAids gåvoshop</a>.</p>
    </div>

    <div class="case__facts">
      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Kund</h5>
        <p><a href="http://www.wateraid.se">WaterAid</a></p>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Teknik</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="box-gradient-border">
        <h5 class="box-gradient-border__title">Tjänster</h5>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Egree</li>
          <li>Kommed API</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case__media">
    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <figure class="polaroid">
          <img src="/images/case/wateraid-manadsgivare/desktop-1.png" alt="">
        </figure>
      </div>
    </div>

    <div class="case__media__item case__media__item--large">
      <div class="case__media__object">
        <div class="case__media__tweet" data-tweet="https://twitter.com/RebeccaWUvell/status/639414477910331392"></div>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->

<%= partial 'case_footer' %>
