// -----------------------------------------------------------------------------
// Layout mixins
//
// These mixins can be used within our projects for generating layouts with
// different breakpoints. Columns are handled by Griddo.
//

@mixin ds-layout-columns-two {
  @include griddo-width(6);

  &:nth-child(2n+1) {
    clear: both;
  }
}

@mixin ds-layout-columns-three {
  @include griddo-width(4);

  &:nth-child(2n+1) {
    clear: none;
  }

  &:nth-child(3n+1) {
    clear: both;
  }
}

@mixin ds-layout-columns-four {
  @include griddo-width(3);

  &:nth-child(2n+1),
  &:nth-child(3n+1) {
    clear: none;
  }

  &:nth-child(4n+1) {
    clear: both;
  }
}

@mixin ds-layout-columns-five {
  @include griddo-width(1,5);

  &:nth-child(2n+1),
  &:nth-child(3n+1),
  &:nth-child(4n+1) {
    clear: none;
  }

  &:nth-child(5n+1) {
    clear: both;
  }
}

@mixin ds-layout-columns-six {
  @include griddo-width(1,6);

  &:nth-child(2n+1),
  &:nth-child(3n+1),
  &:nth-child(4n+1),
  &:nth-child(5n+1) {
    clear: none;
  }

  &:nth-child(6n+1) {
    clear: both;
  }
}

// SETUP FOR UP TO GRID
@mixin ds-layout-columns-up-to-setup($wrapper, $column, $behavior: false) {
  .#{$wrapper} {
    @include griddo-row($behavior);
    .#{$column} {
      @include griddo-column(12);

      &:last-child {
        float: left;
      }
    }
  }
}

// UP TO 2
// Up to two columns in a row
// --
// Tablet - Two columns
@mixin ds-layout-columns-up-to-two($wrapper, $column, $behavior: false) {
  @include ds-layout-columns-up-to-setup($wrapper, $column, $behavior);

  @include breakpoint($ds-breakpoint-tablet) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-two;
      }
    }
  }
}

// UP TO 3
// Up to three columns in a row
// --
// Smartphone - Two columns
// Tablet - Three columns
@mixin ds-layout-columns-up-to-three($wrapper, $column, $behavior: false) {
  @include ds-layout-columns-up-to-setup($wrapper, $column, $behavior);

  @include breakpoint($ds-breakpoint-smartphone) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-two;
      }
    }
  }

  @include breakpoint($ds-breakpoint-tablet) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-three;
      }
    }
  }
}

// UP TO 4
// Up to four columns in a row
// --
// Smartphone - Two columns
// Tablet - Three columns
// Laptop - Four columns
@mixin ds-layout-columns-up-to-four($wrapper, $column, $behavior: false) {
  @include ds-layout-columns-up-to-setup($wrapper, $column, $behavior);

  @include breakpoint($ds-breakpoint-smartphone) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-two;
      }
    }
  }

  @include breakpoint($ds-breakpoint-tablet) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-three;
      }
    }
  }

  @include breakpoint($ds-breakpoint-laptop) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-four;
      }
    }
  }
}

// UP TO 5
// Up to five columns in a row
// --
// Smartphone - Two columns
// Tablet - Three columns
// Laptop - Four columns
// Desktop - Five columns
@mixin ds-layout-columns-up-to-five($wrapper, $column, $behavior: false) {
  @include ds-layout-columns-up-to-setup($wrapper, $column, $behavior);

  @include breakpoint($ds-breakpoint-smartphone) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-two;
      }
    }
  }

  @include breakpoint($ds-breakpoint-tablet) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-three;
      }
    }
  }

  @include breakpoint($ds-breakpoint-laptop) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-four;
      }
    }
  }

  @include breakpoint($ds-breakpoint-desktop) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-five;
      }
    }
  }
}

// UP TO 6
// Up to six columns in a row
// --
// Smartphone - Two columns
// Tablet - Three columns
// Laptop - Four columns
// Desktop - Five columns
// Cinema - Six columns
@mixin ds-layout-columns-up-to-six($wrapper, $column, $behavior: false) {
  @include ds-layout-columns-up-to-setup($wrapper, $column, $behavior);

  @include breakpoint($ds-breakpoint-smartphone) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-two;
      }
    }
  }

  @include breakpoint($ds-breakpoint-tablet) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-three;
      }
    }
  }

  @include breakpoint($ds-breakpoint-laptop) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-four;
      }
    }
  }

  @include breakpoint($ds-breakpoint-desktop) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-five;
      }
    }
  }

  @include breakpoint($ds-breakpoint-cinema) {
    .#{$wrapper} {
      .#{$column} {
        @include ds-layout-columns-six;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Layout classes
//
// Generate classes with our mixins above.
//

// Generated griddo classes with griddo prefix.
// Must only be used for prototyping.
@include griddo-classes(griddo-row, griddo-column, griddo-column);

// Generate a layout which can contain up to four columns in a row.
@include ds-layout-columns-up-to-two(layout__up-to-two-columns, layout__column);
@include ds-layout-columns-up-to-three(layout__up-to-three-columns, layout__column);
@include ds-layout-columns-up-to-four(layout__up-to-four-columns, layout__column);
@include ds-layout-columns-up-to-five(layout__up-to-five-columns, layout__column);
@include ds-layout-columns-up-to-six(layout__up-to-six-columns, layout__column);

// Layout modifiers
.layout--max-100 {
  max-width: 100% !important;
}

.layout--max-800-px {
  max-width: 800px !important;
}

.layout--max-1200-px {
  max-width: 1200px !important;
}

.layout--max-1400-px {
  max-width: 1400px !important;
}

.layout--max-1600-px {
  max-width: 1600px !important;
}

// -----------------------------------------------------------------------------
// Page layouts
//
//
// -----------------------------------------------------------------------------

.page-one-column {
  margin: 0 auto;
  max-width: 768px;
  padding: $ds-margin;
}

// -----------------------------------------------------------------------------
// Layout helpers
// -----------------------------------------------------------------------------

.left {
  float: left;
}

.right {
  float: right;
}
