.header {
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-background {
  @include rotate(45deg);
  background: rgba(0, 0, 0, .5);
  color: #fff !important;
  display: none;
  height: 260px;
  position: absolute;
  right: -130px;
  top: -130px;
  width: 260px;

  &:hover {
    background: rgba(0, 0, 0, .65);
  }
}

.header--background {
  .icon-menu,
  .icon-menu:before,
  .icon-menu:after {
    color: #fff !important;
  }
}

/*

.main-nav {
  float: right;
  margin-bottom: -1px;
  margin-right: 20px;
  a {
    border-bottom: 2px solid $ds-color-background;
    color: $ds-color-text;
    display: inline-block;
    font-weight: 600;
    font-size: .8em;
    padding: 15px 15px;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid #222;
    }
  }
}
*/

/*
.navigation {
  @include clearfix;
  border-top: 5px solid #000;
  float: right;
  padding: 10px 1px 40px;

  a {
    @extend small;
    color: $ds-color-text;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      //border-bottom: 1px solid $ds-color-text;
    }
  }
}

.navigation-items {
  display: inline-block;
  //padding-right: ($ds-margin*4);

  a:last-child {
    margin-right: 0;
  }
}
*/
