
// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------

%t-hero {
  font-size: 5em;
  font-weight: $ds-font-weight-black;
  line-height: 1.2;
}
.t-hero {
  @extend %t-hero;
}

.t-h1 {
  @extend %h1;
}

.t-h2 {
  @extend %h2;
}

.t-h3 {
  @extend %h3;
}

.t-h4 {
  @extend %h4;
}

.t-h5 {
  @extend %h5;
}

.t-h6 {
  @extend %h6;
}

// -----------------------------------------------------------------------------
// Body copy
// -----------------------------------------------------------------------------

/**
 * Lead text
 * Used for the introduction of a longer text.
 */
%t-lead {
  font-size: 1.3em;
  line-height: 1.4;
}
.t-lead {
  @extend %t-lead;
}

/**
 * Meta
 * Display meta info
 */
%t-meta {
  @extend small;
  color: $ds-color-text-light;
}
.t-meta {
  @extend %t-meta;
}

/**
 * Heavy stuff
 * Put some extra emphasis on something. Like a bit of text or a link.
 */
%t-heavy {
  font-size: .8em;
  font-weight: $ds-font-weight-bold;
  text-transform: uppercase;
}
%t-heavy-link {
  @include ds-transition;
  border-bottom: 2px solid $ds-color-link;

  &:hover {
    border-color: $ds-color-heading;
    color: $ds-color-heading;
  }
}
.t-heavy {
  @extend %t-heavy;
}
a.t-heavy {
  @extend %t-heavy-link;
}

.t-accent {
  color: $ds-color-link;
}

@mixin ds-icon($size: 30px) {
  @include border-radius(50%);
  background: rgba(0, 0, 0, .2);
  color: $ds-color-text-dark;
  display: inline-block;
  font-size: .7em;
  height: $size;
  line-height: $size;
  overflow: hidden;
  text-align: center;
  width: $size;

  &:hover {
    background: $ds-color-link;
    color: #111;
  }

  span {
    @extend .visuallyhidden;
  }
}
.t-icon {
  @include ds-icon;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

/**
 * Unstyled
 */
%t-list-unstyled {
  list-style: none;
  margin-#{$ds-float}: 0;
}
ul.unstyled,
ol.unstyled {
  @extend %t-list-unstyled;
}

/**
 * Inline
 */
ul.inline,
ol.inline {
  @extend %t-list-unstyled;

  & > li {
    display: inline-block;
    margin-#{$ds-float-opposite}: $ds-margin;

    &:last-child {
      margin-#{$ds-float-opposite}: 0;
    }
  }
}

.pull-out {
  @extend %t-list-unstyled;
}
.pull-out__item {
  margin: 0 0 $ds-margin;
  padding: 0 0 0 $ds-margin;

  p:last-child {
    margin: 0;
  }
}
.pull-out__title {
  display: inline;
  font-size: 1em;
  margin: 0 0 0 (-$ds-margin);

  & + p {
    display: inline;
    margin: 0;
  }
}

// -----------------------------------------------------------------------------
// Alignment / Layout
// -----------------------------------------------------------------------------

%t-left {
  text-align: left;
}
.t-left {
  @extend %t-left;
}

%t-center {
  text-align: center;
}
.t-center {
  @extend %t-center;
}

%t-right {
  text-align: right;
}
.t-right {
  @extend %t-right;
}
