
.polaroid {
  @include ds-polaroid;
}

.hero {
  @include clearfix;
  @include ds-gutter-v-double;
  background: rgba(0, 0, 0, .03);
}

.hero__header {
  @include ds-gutter-bottom;
  @include ds-gutter-bottom(margin);
}

.hero__title {
  margin: 0;
}

.callout {
  @include clearfix;
  background: $ds-color-link;
  color: #fff;

  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

// Gradient border
//

@mixin gradient-border {
  @include background-image(linear-gradient(left top, $ds-color-orange, darken($ds-color-orange, 10%)));
}
@mixin gradient-border--wide {
  @include background-image(linear-gradient(left top, $ds-color-orange, $ds-color-orange-dark));
}

%gradient-border {
  display: inline-block;

  &:after {
    @include border-radius(2px);
    @include gradient-border;
    content: " ";
    display: block;
    height: 20px;
    overflow: hidden;
  }
}
/*span*/.gradient-border {
  @extend %gradient-border;
}

%gradient-border--thin {
  &:after {
    height: 10px;
  }
}
/*span*/.gradient-border--thin {
  @extend %gradient-border--thin;
}

%gradient-border--fat {
  &:after {
    height: 30px;
  }
}
/*span*/.gradient-border--fat {
  @extend %gradient-border--fat;
}

// -----------------------------------------------------------------------------
// Spotlight
//
// A highlighted blurb
// -----------------------------------------------------------------------------

.spotlight {
  padding: $ds-margin 0;

  &:hover {
    @include background-image(linear-gradient(#EADDAF, $ds-color-background));
    @include border-radius(3px 3px 0 0);
  }

  p {
    margin: 0;
  }

  small {
    color: rgba(0,0,0,.6);
  }
}

.spotlight__image {
  @include ds-polaroid;
  @include ds-transition;
  margin-bottom: 6px;
}

.spotlight__info {
  @include clearfix;
  padding: 0 8px;
}

.spotlight__title {
  @extend %h4;
  margin: 14px 0 0;
  text-transform: none;

  .spotlight--large & {
    @extend %h3;
    margin-bottom: 0;
  }
}

.spotlight__meta {
  color: $ds-color-text-light;
  font-size: .8em;
  font-weight: $ds-font-weight;
  margin: 0;
  text-transform: uppercase;
}

.spotlight__description {
  font-size: .8em;
  padding: 6px 0 20px;

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.spotlight__cta {
  @include ds-transition;
  float: right;
  opacity: 0;
  width: 200px;
}
