
.polaroid {
  @include ds-polaroid;
}

.hero {
  @include clearfix;
  @include ds-gutter-v-double;
  background: rgba(0, 0, 0, .03);
}

.hero__header {
  @include ds-gutter-bottom;
  @include ds-gutter-bottom(margin);
}

.hero__title {
  margin: 0;
}

.callout {
  @include clearfix;
  background: $ds-color-link;
  color: #fff;

  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

// -----------------------------------------------------------------------------
// Spotlight
//
// A highlighted blurb
// -----------------------------------------------------------------------------

.spotlight {
  padding: $ds-margin 0;

  &:hover {
    @include background-image(linear-gradient(#EADDAF, $ds-color-background));
    @include border-radius(3px 3px 0 0);
  }

  p {
    margin: 0;
  }

  small {
    color: rgba(0,0,0,.6);
  }
}

.spotlight__image {
  @include ds-polaroid;
  @include ds-transition;
  margin-bottom: 6px;
}

.spotlight__info {
  @include clearfix;
  padding: 0 8px;
}

.spotlight__title {

}

.spotlight__meta {

}

.spotlight__description {

}

.spotlight__cta {
  @include ds-transition;
  float: right;
  opacity: 0;
  width: 200px;
}
