// -----------------------------------------------------------------------------
// About us
// http://www.kollegorna.se/om
// -----------------------------------------------------------------------------

.profiles {
  @include griddo-container;
}

.profile {
  @include clearfix;
}

.profile__image {
  @include ds-polaroid;
  @include border-radius(50%);
  display: inline-block;
  max-width: 200px;
  margin: 0 0 ds-em-calc(14px);

  img {
    @include border-radius(50%);
    float: none;
  }
}
