

.blog-header {
  display: none;

  @extend %ds-wrapper;
  margin-bottom: 40px;
  padding-top: 40px;

  @include breakpoint($ds-breakpoint-tablet) {
    padding-top: 80px;
  }

  h1 {
    font-size: 2em;
    text-transform: uppercase;
  }

  a {
    @extend .cta;
  }
}

.blog-footer {
  @extend %ds-wrapper;
  padding-top: ds-em-calc(40px);
}

// A .post-item class wraps .post in blog post listing.
.post-item {
  padding: ds-em-calc(40px) 0;

  &:nth-child(even) {
    background: rgba(0, 0, 0, .03);
  }

  .post {
    @extend %ds-wrapper;
  }
}

.post-image {
  img {
    @include ds-polaroid;
  }
}

.post-content {
  figure,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: inline-block;
  margin-top: ds-em-calc(22px);
  padding-top: ds-em-calc(15px);
  width: 100%;

  a {
    color: $ds-color-text;
    border: 0;
  }
}

.post-author,
.post-date,
.post-via {
  float: left;
  font-size: .8em;
  height: 40px;
  line-height: 40px;
  margin-right: ds-em-calc(5px);
}

.post-author {
  img {
    @include ds-polaroid;
    @include border-radius(50%);
    margin-right: ds-em-calc(15px);
    max-width: 50px;
    padding: 3px;
  }
}

.post-date {
  &:before {
    content: " – ";
    padding-right: ds-em-calc(5px);
  }
}

.post-via {
  float: right;
  margin-right: 0;
  margin-left: ds-em-calc(15px);
}

.post--post {
  header {
    margin: 0 0 1em;
  }
  .top-image {
    margin: 0 0 1em;
    @include breakpoint($ds-breakpoint-tablet) {
      margin: 0 0 2em;
    }
  }
  .right {
    float: right;
    margin: 0 0 0 2em;
  }
  .clear {
    clear: both;
  }
  .author,
  time {
    color: #777;
  }
  .author img {
    border-radius: 50%;
  }
  time:before {
    content: " – ";
  }
  #disqus_thread {
    padding-top: 2em;
  }
}

.blog-post {
  .post {
    @extend %ds-wrapper;
  }
}
