
// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.case-study__header {
  @include griddo-container;
}

.case-study__facts {
  @include griddo-row;
}

.case-study__facts__item {
  @include griddo-column;

  @include breakpoint($ds-breakpoint-tablet) {
    @include ds-layout-columns-two;
  }

  @include breakpoint($ds-breakpoint-laptop) {
    @include ds-layout-columns-three;
  }

  @include breakpoint($ds-breakpoint-desktop) {
    @include ds-layout-columns-four;
  }
}

.case-study__media {
  @include griddo-row;
}

.case-study__media__content {
  @include griddo-column;

  @include breakpoint($ds-breakpoint-tablet) {
    @include griddo-width(8);
  }

  @include breakpoint($ds-breakpoint-desktop-large) {
    @include griddo-width(9);
  }
}

.case-study__media__description {
  @include griddo-column;

  @include breakpoint($ds-breakpoint-tablet) {
    @include griddo-width(4);
  }

  @include breakpoint($ds-breakpoint-desktop-large) {
    @include griddo-width(3);
  }
}

// -----------------------------------------------------------------------------
// Styling
// -----------------------------------------------------------------------------

.case-study__call-to-actions {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
  }
}
