
.contact-header {
  @include griddo-container;
  padding: ds-em-calc(30px) 0;
  text-align: center;

  @include breakpoint($ds-breakpoint-laptop) {
    padding: ds-em-calc(40px) 0;
  }

  &:after {
    content: " – – – – – – – – – – – – – – ";
    display: block;
    margin: -10px 0 ds-em-calc(30px);
    text-align: center;

    @include breakpoint($ds-breakpoint-laptop) {
      margin-bottom: ds-em-calc(30px);
    }
  }
}

.colleagues {
  @include griddo-row;

  &:after {
    content: " – – – – – – – – – – – – – – ";
    display: block;
    margin: 0 0 ds-em-calc(30px);
    padding: ds-em-calc(30px) 0 0;
    text-align: center;
  }
}

.colleague {
  @include griddo-column;

  @include breakpoint($ds-breakpoint-smartphone) {
    @include griddo-width(2);
    margin-bottom: ds-em-calc(20px);
    text-align: center;

    &:nth-child(2n+1) {
      clear: both;
    }
  }

  @include breakpoint($ds-breakpoint-tablet) {
    @include griddo-width(4);
    margin-bottom: ds-em-calc(30px);

    &:nth-child(2n+1) {
      clear: none;
    }
    &:nth-child(3n+1) {
      clear: both;
    }
  }

  @include breakpoint($ds-breakpoint-laptop) {
    @include griddo-width(3);
    margin-bottom: ds-em-calc(40px);

    &:nth-child(2n+1) {
      clear: none;
    }
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(4n+1) {
      clear: both;
    }
  }
}

.colleague__image {
  @include ds-polaroid;
  @include border-radius(50%);
  display: inline-block;
  max-width: 200px;
  margin: 0 0 ds-em-calc(14px);

  img {
    @include border-radius(50%);
    float: none;
  }
}

.colleague__name {
  font-size: 1em;
  font-weight: $ds-font-weight-bold;
  margin: 0;
}

.colleague__title {
  color: $ds-color-text-light;
  font-size: .8em;
  font-weight: $ds-font-weight;
  margin: 0 0 ds-em-calc(12px);
}

.colleague__meta {
  @extend small;
  margin-bottom: ds-em-calc(6px);
}

.contact-office {
  @include griddo-container;
  text-align: center;

  &:after {
    content: " – – – – – – – – – – – – – – ";
    display: block;
    padding: ds-em-calc(30px) 0 0;
    text-align: center;
  }
}

.contact-office__city {
  font-size: 1em;
  font-weight: $ds-font-weight-bold;
  margin: 0;
}

.contact-office__address {
  color: $ds-color-text-light;
  font-size: 1em;
  font-weight: $ds-font-weight;
  margin: 0 0 ds-em-calc(24px);
}

.contact-office__map {
  @include ds-polaroid;
}

.contact-snail-mail {
  @include griddo-container;
  padding-top: ds-em-calc(15px);
  text-align: center;
}
