
.footer {
  border-top: 1px dashed rgba(0, 0, 0, .3);
  font-size: .9em;
  margin: 60px 20px 0;
  padding: 20px 0;
  @include breakpoint($ds-breakpoint-tablet) {
    margin: 120px 40px 0;
    padding: 40px 0;
  }

  a {
    border-bottom: 2px solid lighten($ds-color-link, 20%);
  }

  ul {
    @include clearfix;
    list-style: none;

    ul {
      margin-left: 0;
    }

    @include breakpoint($ds-breakpoint-tablet) {
      li {
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
          clear: both;
        }
        li {
          float: none;
          width: 100%;
        }
      }
    }
    @include breakpoint($ds-breakpoint-laptop) {
      li {
        width: 33.333%;
        &:nth-child(2n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }
  }
  @include breakpoint($ds-breakpoint-laptop) {
    h6 {
      font-size: .9em;
    }
  }

  .license {
    margin: 0;
    padding: 2em 0 0;
  }

  address {
    font-style: normal;

    .fn {
      border: 0;
      color: $ds-color-text;
    }
  }
}

.call-me-maybe {
  color: $ds-color-text-light;
  font-size: 70%;
  text-transform: uppercase;

  strong {
    color: darken($ds-color-text-light, 10%);
    font-size: 16px;
  }
}

.footer-border {
  @include background-image(linear-gradient(left top, $ds-color-orange, $ds-color-orange-dark));
  height: 20px;
}
