.site-intro-info {
  @extend %ds-wrapper;
  position: relative;
}

/**
 * Styles for home page
 */

.scream-something-loud {
  background: rgba(247, 121, 22, .7);
  border-bottom: 5px solid $ds-color-link;
  color: rgba(255, 255, 255, .9);

  font-weight: $ds-font-weight-bold;
  padding: 15px 0;
  text-align: center;
  text-shadow: 0 1px 1px $ds-color-link;
  text-transform: uppercase;

  a {
    color: #fff;
  }

  p {
    margin-bottom: 0;
  }
}

.logo {
  @include inline-block;
  @include text-shadow(1px 1px 0 #F0E9CD, 3px 3px 0 rgba(0, 0, 0, .3));
  color: $ds-color-text;
  cursor: default;
  pointer-events: none;
  font: italic $ds-font-weight-black 38px/1.2 $ds-font-logo;
  margin: 15px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
  &:hover {
    border: 0;
  }

  span {
    pointer-events: none;
    cursor: default;
    @include inline-block;
    &:nth-child(even) {
      @include opacity(0.95);
    }
  }
  @include breakpoint(small) {
    font: italic $ds-font-weight-black 48px/1.2 $ds-font-logo;
  }
  @include breakpoint($ds-breakpoint-tablet) {
    font: italic $ds-font-weight-black 96px/1.2 $ds-font-logo;
    margin: 0 0 60px;
  }
}

.site-intro {
  ul {
    list-style: none;
    li {
      display: block;
    }
  }

  .skills {
    height: 200px;
    margin: 0 auto 25px;
    position: relative;
    width: 200px;

    @include breakpoint(smallest) {
      height: 240px;
      width: 240px;
    }

    @include breakpoint($ds-breakpoint-tablet) {
      height: 320px;
      margin: 0;
      position: absolute;
      right: 0;
      top: 230px;
      top: 0;
      width: 320px;
    }
  }

  .circle {
    @include ds-transition;
    background: rgba(247, 121, 22, .7);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(247, 121, 22, 0.4);
    color: rgba(255, 255, 255, .9);
    display: inline-block;
    font-size: 14px;
    font-weight: $ds-font-weight-bold;
    height: 50%;
    line-height: 100%;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px $ds-color-link;
    text-transform: uppercase;
    width: 50%;
    &:hover {
      background: rgba(247, 121, 22, .9);
      box-shadow: 0 0 10px rgba(247, 121, 22, 0.8);
      @include breakpoint($ds-breakpoint-tablet) {
        height: 170px;
        line-height: 170px;
        width: 170px;
      }
    }
    &.design {
      left: 25%;
      top: 15%;
      @include breakpoint($ds-breakpoint-tablet) {
        left: 80px;
        top: 50px;
        &:hover {
          left: 75px;
          top: 45px;
        }
      }
    }
    &.technology {
      bottom: 0;
      left: 4.5%;
      @include breakpoint($ds-breakpoint-tablet) {
        left: 15px;
        &:hover {
          bottom: -5px;
          left: 10px;
        }
      }
    }
    &.strategy {
      bottom: 0;
      right: 4.5%;
      @include breakpoint($ds-breakpoint-tablet) {
        right: 15px;
        &:hover {
          bottom: -5px;
          right: 10px;
        }
      }
    }

    @include breakpoint($ds-breakpoint-tablet) {
      font-size: 18px;
      height: 160px;
      line-height: 160px;
      width: 160px;
    }

    span {
      @include inline-block;
      cursor: default;
      padding-top: 45%;

      @include breakpoint($ds-breakpoint-tablet) {
        padding: 0;
      }
    }
  }

  .presentation {
    text-align: left;

    @include breakpoint($ds-breakpoint-tablet) {
      padding: 20px 340px 0 0;
    }

    li {
      margin-bottom: .5em;
    }
  }

}

.all-projects {
  padding: 20px 0;
  text-align: center;

  @include breakpoint($ds-breakpoint-tablet) {
    padding: 40px 0;
  }
}
