// -----------------------------------------------------------------------------
// Header navigation
//
// A hamburger icon that opens the menu when pressed.
// The menu is displayed in different ways depending on screen size.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Toggle
// -----------------------------------------------------------------------------

.nav-toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 102;

  @include breakpoint($ds-breakpoint-laptop) {
    position: fixed;
  }
}

.nav-toggle-background {
  @include rotate(45deg);
  background: rgba(0, 0, 0, .5);
  color: #fff !important;
  display: none;
  height: 260px;
  position: absolute;
  right: -130px;
  top: -130px;
  width: 260px;

  .nav-toggle--open & {
    display: none;
  }
}

.nav-toggle--background {
  .icon-menu,
  .icon-menu:before,
  .icon-menu:after {
    color: #fff !important;
  }
}

.nav-toggle-button,
.nav-close {
  cursor: pointer;
  float: right;
  height: 30px;
  line-height: 30px;
  position: fixed;
  right: 39px;
  text-align: center;
  top: 39px;
  width: 30px;
  z-index: 102;

  .icon-menu,
  .icon-menu:before,
  .icon-menu:after {
    font-size: 1.3em !important;
  }
}

.nav-close {
  .icon-menu,
  .icon-menu:before,
  .icon-menu:after {
    color: #fff !important;
  }
}

.nav-toggle-button--active {
  .icon-menu,
  .icon-menu:before,
  .icon-menu:after {
    color: #fff;
  }
}

// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.nav {
  background: rgba(0, 0, 0, .85);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

.nav-content {
  a {
    color: #fff;
    border: 0px;
  }
}

.nav-links {
  ul {
    list-style: none;
  }

  li {
    border-bottom: 1px solid #333;
    font-size: 3em;
    font-weight: 900;

    &:hover {
      background: rgba(0, 0, 0, .3);
    }
  }

  a {
    display: block;
    line-height: 110px;

    span {
      @extend %ds-wrapper;
      display: block;
    }
  }
}
