.projects-header,
.projects {
  @extend %ds-wrapper;
}

.project {
  @include clearfix;
  @include ds-box;

  /*h1 {
    font-size: 1.4em;
  }*/

  figure {
    margin: -20px -20px 0;

    img {
      @include clearfix;
      margin-bottom: 20px;
    }

    @include breakpoint($ds-breakpoint-tablet) {
      margin: -40px -40px 0;

      img {
        margin-bottom: 40px;
      }
    }

    @include breakpoint($ds-breakpoint-laptop) {
      margin: -80px -80px 0;

      img {
        margin-bottom: 80px;
      }
    }
  }

  img {
    @include border-radius(4px);
    display: block;
  }
}

.project-links {
  list-style: none;
  margin-left: 0;

  a {
    &:after {
      color: $ds-color-text;
      font-weight: $ds-font-weight-bold;
      content: " → ";
    }
  }
}
