

@media (max-width: 600px) {
  body {
    font-size: .8em;
  }

  body.blog,
  .page-projects,
  .page-blog-post {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .t-hero {
    font-size: 2.5em;

    .gradient-border:after {
      height: 10px;
    }
  }

  .t-lead {
    font-size: 1em;
    line-height: inherit;
  }

  .post {
    h1 {
      font-size: 2.2em;
    }
  }

  body.blog {
    .post-item {
      margin-left: -15px !important;
      margin-right: -15px !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  body.about {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .clients {
    ul {
      text-align: left !important;
    }
  }

  .colleagues {
    text-align: center;

    .colleague {
      margin-bottom: 3em;
    }

    img {
      max-width: 140px;
    }
  }

  .contact-office {
    display: none;
  }
}
