

@media (max-width: 600px) {
  body {
    font-size: .8em;
  }

  .page-blog-post {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .post {
    h1 {
      font-size: 2.2em;
    }
  }
}
