
// Global transition
@mixin ds-transition {
  @include transition-duration(0.4s);
}

// Global border border-radius
@mixin ds-border-radius {
  @include border-radius(4px);
}

@mixin ds-paper {
  @include ds-border-radius;
  background: #fff;
  color: #333;
  margin: 0 (-(ds-em-calc(20px))) ds-em-calc(20px);
  padding: ds-em-calc(20px);
}


@mixin ds-paper-large {
  @include ds-paper;
  padding: ds-em-calc(40px);
}

@mixin ds-polaroid {
  @include clearfix;
  @include border-radius(3px);
  @include box-shadow(0 1px 2px $ds-color-box-shadow);
  background: #fff;
  margin: 0 0 16px;
  padding: ds-em-calc(12px);

  img {
    float: left;
  }
}

@mixin ds-box {
  /*@include border-radius(4px);
  @include box-shadow(0 2px 4px $ds-color-box-shadow, inset 0 0 80px $ds-color-grey-contrast);*/
  @include border-radius(3px);
  @include box-shadow(0 1px 2px $ds-color-box-shadow);
  background: #fff;
  /*border-bottom: 1px solid $ds-color-box-shadow;
  border-top: 1px solid $ds-color-grey-contrast;*/
  //color: #333;
  padding: 4em 0 0;
  margin: 0 0 20px;
  padding: 20px;

  @include breakpoint($ds-breakpoint-tablet) {
    margin: 0 0 40px;
    padding: 40px;
  }

  @include breakpoint($ds-breakpoint-laptop) {
    margin: 0 0 80px;
    padding: 80px;
  }
}

%ds-wrapper {
  margin: 0 auto;
  max-width: 860px;
}
