---
title: Jobs @ Kollegorna
description: "If you love working with the web you'll love working here."
permalink: /jobs/index.html
---

<article class="page">
  <h1 class="t-center">Join us!</h1>

  <p class="t-lead t-center">
    If you love working with the web you'll love working here.
  </p>

  <hr class="hr-gradient hr-gradient--medium">

  <br><br>

  <h2>Open positions</h2>
  <p>
    We have no open positions at the moment. But if you feel you that you should work with us shoot off an email to <a href="mailto:per@kollegorna.se">Per Sandström</a>.
  </p>

  <hr class="hr-gradient hr-gradient--tiny hr-gradient--left">

  <h2>About us</h2>
  <p>We're a team of eight passionate designers and developers who all love working with the web. We build stuff with Ruby on Rails and JavaScript. We work directly with our clients as well as sub contractors to other agencies. We have no dogmatic opinion regarding specific methodologies or process and are very flexible in how we work.</p>

  <hr class="hr-gradient hr-gradient--tiny hr-gradient--left">

  <h2>About you</h2>
  <p>You're a true professional who loves what you're doing.</p>
  <p>You have a chronic thirst for knowledge and want to be a leading force in your field.</p>
  <p>You realize that you have super powers and want to use them together with us for a better world.</p>

  <hr class="hr-gradient hr-gradient--tiny hr-gradient--left">

  <h2>What it's like working here</h2>
  <ul>
    <li>You have big opportunities to influence your job and how we work.</li>
    <li>You'll enjoy a creative and smooth work environment.</li>
    <li>We're the best colleagues.</li>
    <li>Remote work = OK. We have our HQ in Stockholm but you're free to work from wherever you want within the Milky Way.</li>
    <li>As we're an international team English is the lingua franca internally. We also speak Swedish, Spanish, Greek, Slovak, French and Korean…</li>
    <li>Leave no colleague behind! You'll never end up on a long-term contract on your own at some clients' office.</li>
    <li>25 days of paid vacation every year.</li>
    <li>Personal Development Days – Every sixth week everyone is free to choose an area in which to boost their skills over three days: Thursday, Friday and Monday.</li>
    <li>Company Development Days – When we feel it's necessary to learn new stuff we take time off to do that. How often and how long varies. On the Company Development Days we pick a mutual thing to learn in contrast to the Personal Development Days where you pick freely what you want.</li>
    <li>Overtime is our enemy and should not exist. You work 9-5, 8–4, 10–6 or whatever suits you. If you can't stop building stuff then go do good deeds in open source!</li>
    <li>Workload: Every year has 224–229 work days depending on what days the Swedish national holidays occur. Out of these approx 170 will be spent on client work, since the following days are excluded: 25 vacation days, 22 personal development days and 5–10 days conference/training days.</li>
    <li>Health benefits (up to 3000 SEK/year), insurance, doctors appointments during work. Staying healthy is vital to do a good day's work.</li>
    <li>Pension savings following Swedish standards ITP1/ITP2. This amounts to 4,5% of your monthly salary.</li>
    <li>Conference trips. We love travelling the world and make sure to go somewhere on a yearly basis.</li>
    <li>Up to 350 SEK (approx €38, $50 or £30) each month to spend on stuff that makes you a better designer or developer. Upgrade your GitHub account? Play around with a VPS on Digital Ocean? Pro account on CodePen? Fill your ebook reader with an unhealthy amount of ebooks? It's your choice.</li>
    <li id="stapler">Your own stapler. <a href="https://www.youtube.com/watch?v=Vd4fj9Efl4s">To avoid fires</a>.</li>
    <li>A MacBook Pro, MacBook Air or whatever computer you prefer that runs OS X or Linux.</li>
    <li>Enjoy working the finest tools of the trade such as Slack, Trello, Hackpad, GitHub, Harvest and Basecamp. Among the things powering us are Heroku, CircleCI, Honeybadger and Skylight. </li>
    <li>Human love not enough for you? Kobot, our friendly company robot, will be there for you 24/7. (<a href="https://gist.github.com/persand/4940f40616299c76c720">Here's a list of some of the things he can do</a>.)</li>
  </ul>

  <hr class="hr-gradient hr-gradient--tiny hr-gradient--left">

  <h2>Questions?</h2>
  <p>Get in touch!<br>
  E-mail: <a href="mailto:per@kollegorna.se">Per Sandström</a><br>
  Twitter: <a href="https://twitter.com/persand">@persand</a>, <a href="https://twitter.com/kollegorna">@kollegorna</a></p>
</article>
