---
title: Kollegorna
body_classes: map
permalink: /map/index.html
lang: en
description: "We're a team of passionate developers and designers building first-rate web sites and web applications. We can help devise your strategy, analyze your needs, propose solutions and steer your project to success."
---
<section id="map" class="map__container">
  
</section>
<div id="raymall" class="map__profile" data-longitude="-69.85965728759766" data-latitude="18.48937737263002"></div>
<a href="/" class="map__logo"><%= image_tag 'kollegorna-k-black.png' %></a>