---
title: Kollegorna
body_classes: map
permalink: /map/index.html
lang: en
description: "From the Caribbean to to the Far East. Here's a map of all the colleagues."
---
<section id="map" class="map__container">

</section>
<div class="map__profiles">
  <div id="per" class="map__profile" data-longitude="18.0360443" data-latitude="59.3427392"></div>
  <div id="henrik" class="map__profile" data-longitude="17.836610" data-latitude="59.410802"></div>
  <div id="samuel" class="map__profile" data-longitude="126.9779692" data-latitude="37.566535"></div>
  <div id="ivan" class="map__profile" data-longitude="17.5961403" data-latitude="48.395168"></div>
  <div id="dennis" class="map__profile" data-longitude="12.701701" data-latitude="56.038150"></div>
  <div id="raymall" class="map__profile" data-longitude="-69.85965728759766" data-latitude="18.48937737263002"></div>
  <div id="eduardo" class="map__profile" data-longitude="-8.410257" data-latitude="40.203314"></div>
  <div id="filippos" class="map__profile" data-longitude="18.0360443" data-latitude="59.3427392"></div>
</div>

<a href="/" class="map__logo"><%= image_tag 'kollegorna-k-black.png' %></a>
