---
title: Miljöpolicy | Kollegorna
description: "Vår miljöpolicy"
permalink: /miljopolicy/index.html
---

<article class="page">
  <h1 class="t-center">Miljöpolicy</h1>

  <hr class="hr-gradient hr-gradient--medium">

  <br><br>

  <h2>Utskrifter</h2>
  <p>Så få utskrifter som möjligt bidrar till en lägre förbrukning av förbrukningsvaror. Därför har Kollegorna som mål att föregå med gott exempel när det gäller "papperslösa kontoret".</p>
  <ul>
    <li>Dokument lagras i molnbaserade lagringstjänster dom enkelt kan delas med andra och t.ex. utomstående användare.</li>
    <li>Leverantörsfakturor ombes att få via e-post i möjligast mån. En fakturaskanning-tjänst används för att lagra alla leverantörsfakturor digitalt.</li>
    <li>Kundfakturor skickas alltid gratis via e-post. För pappersfaktura debiteras en avgift med syfte att ge incitament för mottagaren att övergå till digital form.</li>
  </ul>

  <h2>Energiförbrukning</h2>
  <p>Påverka energiförbrukning av egen utrustning.</p>
  <ul>
  <li>I möjligaste mån ska Kollegorna välja elektronikprodukter som är miljöklassade.</li>
  <li>I möjligaste mån välja serverhallar som är miljömedvetna och försöker åstadkomma lägre energiförbrukning för kylning och drift av utrustning.</li>
  </ul>

  <h2>Underleverantörer</h2>
  <p>Långsiktigt påverka underleverantörer, kunder samt oss själva.</p>
  <ul>
    <li>Kollegorna är en stor inköpare av extern datorkraft. I de fall där det är möjligt ska Kollegorna välja underleverantörer som levererar miljömedvetna tjänster.</li>
  </ul>

  <h2>Transporter</h2>
  <ul>
    <li>Kollegorna uppmuntrar distansarbete hos samtliga anställda.</li>
    <li>Vid nödvändiga resor används miljövänliga alternativ om möjlighet finns.</li>
  </ul>
</article>
